[2017-07-05 12:38] mancioshell opened #5 "How to handle multiple parts in addition to file?"
I'm developing a chunk upload application based on [flowjs](https://github.com/flowjs/flow.js)
FlowJS sends a multipart form data request with many parameters other than chunk file.

When i use fastify-multipary i'm enabled to retrieve only uploaded file. Body request also is empty:
I need to retrieve all the fields sent in the request.

[code]

Below there is a request example:

[code]

[2017-07-05 13:54] #5 closed

[2017-08-01 18:33] greenkeeper[bot] opened #8 "An in-range update of tap is breaking the build 🚨"
## Version **10.7.1** of [tap](https://github.com/tapjs/node-tap) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify-multipart/compare/greenkeeper%2Ftap-10.7.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-08-06 20:07] greenkeeper[bot] opened #9 "An in-range update of standard is breaking the build 🚨"
## Version **10.0.3** of [standard](https://github.com/standard/standard) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify-multipart/compare/greenkeeper%2Fstandard-10.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      standard
    </td>
  </tr>
  <tr>
    <th align=le

[2017-08-24 23:06] greenkeeper[bot] opened #10 "An in-range update of form-data is breaking the build 🚨"
## Version **2.3.1** of [form-data](https://github.com/form-data/form-data) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify-multipart/compare/greenkeeper%2Fform-data-2.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      form-data
    </td>
  </tr>
  <tr>
    <th align

[2017-11-16 20:47] greenkeeper[bot] opened #13 "An in-range update of pump is breaking the build 🚨"
## Version **1.0.3** of [pump](https://github.com/mafintosh/pump) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify-multipart/compare/greenkeeper%2Fpump-1.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pump
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-12-08 03:13] dsun9 opened #17 "upload location"
Hi, I followed the usage section, but where is file uploaded? Thanks.

[2017-12-08 03:23] dsun9 commented on #17
noticed it is in the buffer

[2017-12-08 03:23] #17 closed

[2017-12-08 04:07] dsun9 opened #18 "large file upload hangs"
Hi I'm uploading a 1.6 gb file to server folder and it hangs.

small file has no issue.

Thanks

[2017-12-08 04:17] dsun9 commented on #18
it was my bad

[2017-12-08 04:17] #18 closed

[2017-12-08 20:47] dsun9 opened #19 "large file upload memory"
Hi I'm migrating from koa js  to fastify-multipart a page of uploading file. when use fastify-multipart, uploading a 1.6 gb file to server folder, the memory usage is much higher than koa js 800 mb vs 50 mb

with koa js i created a readstream, but with fastify-multipart, I'm not sure how to do that.

Thanks

[2017-12-09 12:49] mcollina commented on #19
Interesting, the code in the README should handle backpressure correctly. Can you please past a snippet of what you are doing with this module vs koa?

[2017-12-10 00:25] dsun9 commented on #19
koa js

		const file = ctx.request.body.files.file;
		const reader = fs.createReadStream(file.path);
		const stream = fs.createWriteStream(path.join(os.tmpdir(), Math.random().toString()));
		reader.pipe(stream);

fastify-multipart

			file.pipe(stream);

[2017-12-11 10:23] #8 closed

[2017-12-11 10:23] #9 closed

[2017-12-11 10:23] #10 closed

[2017-12-11 10:23] #13 closed

[2017-12-11 10:32] mcollina commented on #19
@dsun9 can you please upload the full code?
The koa code is doing something completely different, it's copying one file from a location to another.

https://github.com/fastify/fastify-multipart/pull/20 checks that uploading a 1 GB file does not balloon the memory.

[2017-12-11 15:15] dsun9 commented on #19
still used 555675648
async function upload (request, reply) {
		const mp = request.multipart(handler, function (err) {
			reply.redirect('/upload.html');
		})
		const stream = fs.createWriteStream(path.join(os.tmpdir(), Math.random().toString()));

		// mp is an instance of
		// https://www.npmjs.com/package/multipart-read-stream

		mp.on('field', function (key, value) {
			console.log('form-data'

[2017-12-11 15:36] mcollina commented on #19
[code]

this is not checking after the file has been saved you should add a a function at the end of `pump`, that will be called when the file has been processed.

[2017-12-11 16:10] dsun9 commented on #19
Thanks. there are 2 issues in my case,
1. during processing, I don't want consume that much memory. koa js seems to copy the file to a temp dir and made the path available so a readstream can be created

2.after processed, the memory stayed high for quite long.
      a. without changing the checking, I uploaded a small file and checked the logging
      b. I also used windows performance monitor a

[2017-12-22 15:27] mcollina commented on #19
file is a [`Readable`](https://nodejs.org/api/stream.html#stream_readable_streams).

Can you please upload a full example to demonstrate your problem?

[2017-12-23 14:22] dsun9 commented on #19
I actually followed the example. the way to reproduce it is to upload file on the same machine or between 2 machines with high network bandwidth. otherwise, the symptom will be hidden as network is bottleneck.

[2017-12-23 15:06] mcollina commented on #19
Can you please provide a full code example that exhibit the problem with steps to reproduce?

[2017-12-26 14:54] dsun9 commented on #19
Thanks. I actually followed the example. the way to reproduce it is to upload file on the same machine (localhost) or between 2 machines with high network bandwidth. otherwise, the symptom will be hidden as network is bottleneck.
I used windows performance monitor to watch the memory usage

that said, below is the html I used,

<!DOCTYPE html>
<html>
<head>
  <title>Upload</title>
  <style>
    bo

[2018-01-03 17:04] mcollina commented on #19
Confirmed, I used this to reproduce:

[code]

[2018-01-03 19:32] #19 closed

[2018-02-12 18:20] alizahid opened #29 "Socket closed by remote peer"
Had this problem since I upgraded to `0.4.0`.

When I upload a file, the socket is immediately closed by the server. The file upload happens in the background.

I need to wait for the upload to complete, and then whatever processing to be done, so I can return the final url from AWS. I thought I was doing something wrong, but I just tried the sample code in a new project and it has the same behavi

[2018-02-13 19:37] mcollina commented on #29
Can you provide steps to reproduce?

[2018-02-14 04:20] greenkeeper[bot] opened #31 "An in-range update of form-data is breaking the build 🚨"
## Version **2.3.2** of [form-data](https://github.com/form-data/form-data) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify-multipart/compare/greenkeeper%2Fform-data-2.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      form-data
    </td>
  </tr>
  <tr>
    <th align

[2018-02-14 10:18] #29 closed

[2018-02-15 10:42] mcollina commented on #29
This is already out in 0.4.1.

[2018-02-15 10:52] alizahid commented on #29
Ah. I was watching the repo for a tag release. Thank you so much! 🍻

[2018-04-04 14:17] tuananh opened #35 "how to handle error in handler?"
I use the example from readme. how can i handle error in `handler` function, say i want to `reply.code(500).send('error')` for example.

[code]

[2018-04-04 16:02] mcollina commented on #35
can you upload a full example to explain what you want to do? These events are not async functions, so you can't throw safely.

[2018-04-04 16:08] tuananh commented on #35
it's pretty much the example in readme, i just add upload function into handler

[code]

i figure i can catch in handler but the handler is only for 1 file but the form may have multiple files. one of the file upload may fail. how can i catch that and `reply.send(err)` ?

[2018-04-04 16:13] mcollina commented on #35
I would just append all those promises to an array and add a `Promise.all()` in the multipart callback.

Anyway, we should really improve promise support here (maybe `req.multipart` should return a promise if a callback is not passed).

[2018-04-04 23:26] tuananh commented on #35
Thank you. lemme try that.

[2018-04-04 23:26] #35 closed

[2018-04-27 09:37] greenkeeper[bot] opened #37 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/fastify/fastify-multipart/compare/master...fastify:greenkeeper%2Fupdate-to-node-10">open a P

[2018-05-10 08:17] foisonocean opened #39 "is there any support of TypeScript?"

[2018-05-10 08:58] delvedor commented on #39
Yeah, you can upload TypeScript files as any other file! :P
Regarding the types, you can take [fastify-plugin](https://github.com/fastify/fastify-plugin) or [node-fastify-auto-push](https://github.com/google/node-fastify-auto-push) as reference.

[2018-06-28 18:18] jsumners opened #41 "Doc error"
The documentation lists all events as being on the incoming `file`. The only event on the file is `limit`. The other events should be on the `multipart` instance (`mp` in the readme).

[2018-07-01 21:33] greenkeeper[bot] opened #42 "An in-range update of fastify-plugin is breaking the build 🚨"
## Version **1.2.0** of **fastify-plugin** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify-multipart/compare/master...fastify:greenkeeper%2Ffastify-plugin-1.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/

[2018-07-03 15:11] ToonvanStrijp opened #43 "Only handle first file"
How do I make it so that it only handles the first file and ignores the other once?
 I can't figure it out. My code now looks like this:

[code]

[2018-07-03 15:21] ToonvanStrijp commented on #43
When I call `file.destory()` I get the following error:

[code]

[2018-07-03 15:25] mcollina commented on #43
Some notes:

1. there is a security vulnerability in the code above, you need to escape the path because otherwise somebody can write a file everywhere in the filesystem.
2. you should use `pump` instead of  `pipe`, see https://www.npmjs.com/package/pump.

Can you provide a full example? You can also send a PR with a failing test.

[2018-07-03 16:09] ToonvanStrijp commented on #43
@mcollina my finished is called before all the files are processed:

[code]

[2018-07-03 16:10] mcollina commented on #43
As I said, can you please upload a full example, including a way to to verify this behavior?

Adding a failing test in https://github.com/fastify/fastify-multipart/blob/master/test.js would be ok.

[2018-07-03 18:40] ToonvanStrijp commented on #43
I've updated the index.js of the library:

change this
[code]
to:
[code]

Now it works fine! Sorry I don't know how to make a PR 😅

[2018-07-03 19:20] mcollina commented on #43
maybe this can be of of help:
https://help.github.com/articles/creating-a-pull-request-from-a-fork/
Il giorno mar 3 lug 2018 alle 20:40 Toon van Strijp <
notifications@github.com> ha scritto:

[2018-07-05 13:17] #43 closed

[2018-07-09 15:55] greenkeeper[bot] opened #45 "An in-range update of fastify is breaking the build 🚨"
## Version **1.8.0** of **fastify** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify-multipart/compare/master...fastify:greenkeeper%2Ffastify-1.8.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/fastify/fastif

[2018-07-09 16:07] delvedor commented on #45
Flaky CI.

[2018-07-09 16:07] #45 closed

[2018-08-25 22:25] #41 closed

[2018-08-27 12:28] greenkeeper[bot] opened #47 "An in-range update of fastify is breaking the build 🚨"
## Version **1.11.0** of **fastify** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify-multipart/compare/master...fastify:greenkeeper%2Ffastify-1.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/fastify/fast

[2018-08-27 19:13] mcollina commented on #47
This is just flakyness.

[2018-08-27 19:13] #47 closed

[2018-10-17 07:13] wrbl606 opened #51 "How to stop file upload and notify the user about the error when file is too big?"
Here's how my code looks like:
[code]

I've set up a `fileSize` limit in the plugin options, and the event `on('limit')` is called but what should I do to stop the upload?

[2018-10-17 07:29] wrbl606 commented on #51
I've managed to solve this problem myself (it was quite trivial).
After reading the `pump` docs I've learnt that when`.destroy()` is called on the destination stream `pump` it destroys the source stream too, so this is how the upload will be blocked. Additionally a `fs.unlink()` is needed because a empty file is created at the moment of creation new write stream. Here's updated code:
[code]

[2019-01-17 12:17] galuh1300d opened #55 "How can i get my key and value and saved it to database?"
[code]
i wonder how i can get my key value and stored it in database
thanks

[2019-02-10 19:07] #31 closed

[2019-02-10 19:07] #37 closed

[2019-02-10 19:07] #39 closed

[2019-02-10 19:07] #42 closed

[2019-03-08 10:40] olivierto opened #59 "Schema validation"
Hello there!
I'm trying to get  fastify-multipart form and fastify/ajv schema validation to work together in a restfull api.
But I still get an error :
[code]
I've extented AJV with a fileType
[code]
Here is my schema
[code]
and here is my handler function
[code]
Is this a bug ? or am I doing something wrong?
any help on this would be much much appreciated.

Cheers,
Olivier

[2019-03-08 22:06] Eomm commented on #59
Hi, I could be faster to help you if you can provide me a complete snippet to replicate the issue because I need to know how you configure the ajv instace and the http request you send (a CURL would be really helful)

[2019-03-09 08:33] olivierto commented on #59
thanks for you reply, but after few hours i get this to get working.
Here is my setup fastify
[code]
The first  problem occurs in my schema where the isFileType property wasn't set on the body object.
[code]
I still got a problem at this point because the body was left blank with no data in it... i add to set manually a custom content parser to fill body with fields values from form data (based on

[2019-03-09 10:11] Eomm commented on #59
I looked at the problem and there are multiple aspects to investigate.
Let me explain in order to understand what we can do/fix 👍

Your `400 bad request` error is due to the validation of the HTTP `body`. When you POST an http multipart the `body` is empty. The validation is applied anyway and it fails of course.

To explain better let see the two difference HTTP request:

[code]

All these two HT

[2019-03-28 02:26] msheakoski opened #61 "Better way to handle FormData from browser?"
I have read through the README and code, and it seems like the only way to use this plugin currently is with the expectation of a file being uploaded.

In my case, I am generating FormData in the browser and posting it via fetch, so it seems strange that I need to define a file handler just to get an instance of busboy?
[code]

I am only interested in the "field" and "finish" events to read FormDa

[2019-03-28 15:20] msheakoski commented on #61
Thank you for the update, @Eomm! For anyone that might come across this issue, here is how I currently solved it:
[code]

[2019-03-28 15:30] msheakoski commented on #61
I have only used fastify and busboy for 1 day, so I may not have a full understanding of the internals, but here is my idea of a possible API:

[code]

[2019-04-05 19:15] Eomm commented on #61
Released the `addToBody` parameter in [v0.8.0](https://github.com/fastify/fastify-multipart/releases/tag/v0.8.0) 👍

[2019-04-05 19:15] #61 closed

[2019-04-05 19:16] Eomm commented on #59
Released the `addToBody` + `sharedSchemaId` parameters in [v0.8.0](https://github.com/fastify/fastify-multipart/releases/tag/v0.8.0) 👍

[2019-04-05 19:16] #59 closed

[2019-04-05 19:20] Eomm commented on #55
Released the `addToBody` parameter in [v0.8.0](https://github.com/fastify/fastify-multipart/releases/tag/v0.8.0) 👍

In this way in your handler you can simply do like this:

[code]

[2019-04-05 19:20] #55 closed

[2019-04-16 17:10] SkeLLLa opened #62 "Parameter addToBody treats all requests as multipart"
Hi. Here's small example:

[code]

In this case it will handle all requests as multipart and will try to parse it. And if request is not multipart it will throw an exception.

Is that expected behaviour? I think it would be better if it will call that only for multipart requests. So the code in https://github.com/fastify/fastify-multipart/blob/master/index.js#L16 should look like this:
[code]
@Eom

[2019-04-16 19:09] Eomm commented on #62
Nope! This needs a fix very soon, let me check

Thank you for the issue as usual 💪

[2019-04-17 21:13] SkeLLLa opened #64 "Multiple files upload with addToBody stores only one file"
Hi. As far as can see from the code and examples if multiple files will be uploaded with singe file input, it will put them into the same field in body and `filename` and other fields inside it will correspond to one of the files.

Multiple files could be tracked by number of calls of `defaultConsumer` or if that function is called with different filename. So I think it's better to track it by cal

[2019-04-18 07:33] mcollina commented on #64
Definitely, would you like to send a PR?

[2019-04-18 12:22] SkeLLLa commented on #64
Yes I can, probably in couple of days if someone will not make it faster.

But I have a question regarding filed type. If we have input with name `file` should the key `file` in body to be an array even if there's only one file in there. Or should we put an object instead? E.g.

[code]
or
[code]

Also I'm thinking about an idea of changing the default behaviour of this module. I think it would be

[2019-04-18 20:59] SkeLLLa commented on #64
I've made some progress regarding the PR, but I'm stuck in writing tests, because it seems that `form-data` doesn't support multiple values in same field, like browser does.

[2019-04-19 01:41] nwoltman commented on #64
@SkeLLLa In what way does it not support multiple values? Appending to the same field should work.

[code]

[2019-04-19 11:40] SkeLLLa commented on #64
@nwoltman I've tried such approach, but in that way I receive only `file2` in upload field. Maybe the bug is somewhere in my changes, but when I use html form from browser all is working fine.

[2019-04-19 18:17] #62 closed

[2019-04-19 18:32] Eomm commented on #64
I think that it should if we don't want to release a semver-major change.
I would like to keep the behaviour of one file = one field in the body and not an array (and multiple files in one field will be an array)

I don't know if this behaviour could be confusing for users, @mcollina WDYT?

[2019-04-19 19:16] SkeLLLa commented on #64
Actually both options could be a bit confusing. If we have, for example one file = object, multiple files = array of objects, then it will need additional `if` statements on server side to check how many files were uploaded if there's input with multiple file upload enabled. On the other hand if we have an array of files in all cases then it will be a bit weird to have an array there if there is s

[2019-04-19 20:31] mcollina commented on #64
I’m ok in changing addToBody to set an array of files, it’s a pretty new feature and we won’t break much. I _might_ be ok in making addToBody the default. I’m not convinced in changes to the other API.

[2019-04-20 00:57] nwoltman commented on #64
@SkeLLLa The solution to that would be to allow each route to configure how many files it expects for each specific file field. This is what [`multer`](https://github.com/expressjs/multer#singlefieldname) does.

[2019-05-22 18:30] Eomm commented on #64
released in v1.0.0 👍

[2019-05-22 18:30] #64 closed

[2019-05-28 15:03] johntom opened #71 "Upload"
I've tried to upload file(s) from postman with fastify-multipart and fastify-multer but get
{
    "statusCode": 415,
    "code": "FST_ERR_CTP_INVALID_MEDIA_TYPE",
    "error": "Unsupported Media Type",
    "message": "FST_ERR_CTP_INVALID_MEDIA_TYPE: Unsupported Media Type: application/x-www-form-urlencoded"
}
Any ideas how to fix?
Thks,
John

[2019-05-28 15:20] jsumners commented on #71
Use the `multipart/form-data` content type.

[2019-05-28 15:47] johntom commented on #71
Thanks, That did it!

On Tue, May 28, 2019 at 11:20 AM James Sumners <notifications@github.com>
wrote:

[2019-05-29 02:08] #71 closed

[2019-05-29 02:09] johntom commented on #71
Thanks

[2019-05-29 02:20] johntom opened #73 "promise error"
1 .the following code always gives error even though it uploads
[code]
error
[code]
Before I do the upload I need to check the 'form-data; value and create a directory if it does not exist. I've not succeeded in any attempts as the handler is called before I get form data.

[2019-05-29 06:37] Eomm commented on #73
I think your problem is related to [the promise resolution](https://github.com/fastify/fastify/blob/master/docs/Routes.md#promise-resolution)

If you write:
- `reply.code(200).send('uploaded')`
- or `reply.code(204).send()`

should solve

[2019-05-29 15:22] johntom commented on #73
I tried that and still get
[code]

On Wed, May 29, 2019 at 2:37 AM Manuel Spigolon <notifications@github.com>
wrote:

[2019-05-31 21:46] johntom commented on #73
Hi,
I just wanted to share my solution for creating directories as passed in from form-data.
npm install fs-extra
[code]
While the code works as designed and tested uploading many files at once I still get error in console but does not seem to affect anything.
[code]

[2019-06-01 21:04] Eomm commented on #73
Hi, it's good to solve. I would like to be sure that your log doesn't hide any problem since it is not good that line 👍🏼

[2019-06-02 13:38] johntom commented on #73
How can I show you the log? Not sure what you mean.
Thks

[2019-06-04 01:46] johntom commented on #73
I placed code in repo https://github.com/johntom/Fastify-Demo2

[2019-06-04 10:53] Eomm commented on #73
The problem in the logs are due to the route handler:

https://github.com/johntom/Fastify-Demo2/blob/a8ef53de183896280f87a7cfa2c7ed2305d1e22e/app/services/uploadformdata/index.js#L12

if you use async, you should use await because this is an example of what it is happening:

[code]

The `x` fulfil immediately the promise created by the async and return `undefined` sooner than the handling of the f

[2019-06-04 18:25] johntom commented on #73
Removing async worked, will test with async/await later. Funny how I
usually get this right but I guess not all the time:)

On Tue, Jun 4, 2019 at 6:53 AM Manuel Spigolon <notifications@github.com>
wrote:

[2019-06-04 20:09] Eomm commented on #73
We solved ✌

[2019-06-04 20:09] #73 closed

[2019-06-09 20:41] greenkeeper[bot] opened #75 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `1.9.0` to `1.10.0`.

🚨 [View failing branch](https://github.com/fastify/fastify-multipart/compare/master...fastify:greenkeeper%2F%40typescript-eslint%2Fparser-1.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the bu

[2019-06-11 15:59] #75 closed

[2019-06-18 12:08] Marsup opened #76 "Wrong typings"
The types of this module specify there's a default export (https://github.com/fastify/fastify-multipart/blob/master/index.d.ts#L81) while the export is a commonjs one (https://github.com/fastify/fastify-multipart/blob/master/index.js#L174).

It seems hard to fix in these typings since there are some other stuff exported, and I see `fastify-plugin` kind of tries to do things with the default export

[2019-06-19 21:50] Eomm commented on #76
Do you have some specific error?
How would you fix this?

Because all the typing of the fastify plugins are configured like this one (an external `index.d.ts` file and the `index.js` that is a node.js module, put together with the package.json using the `types` field )

[2019-06-20 09:01] Marsup commented on #76
Well there are 2 ways to import considering the definition:
1) `import * as fastifyMultipart from 'fastify-multipart';`
2) `import fastifyMultipart from 'fastify-multipart';`

The 1st one is (surpisingly) the correct one, the 2nd one will be `undefined`, because there's no `default` property, since it's commonjs. That is probably unless you use typescript with `esModuleInterop` which we don't.

If

[2019-06-21 15:09] mcollina commented on #76
Would you mind sending a PR to update the typings?

[2019-06-21 15:13] Marsup commented on #76
Updating the types doesn't seem possible at first glance as you can't have both normal exports and an `export = ...`, you could keep the types as is if `fastify-plugin` created a `default` property when none exists. Would that be an acceptable fix ?

[2019-06-21 16:44] mcollina commented on #76
I think we should do:

[code]

[2019-06-25 16:16] Eomm commented on #76
Fixed in #78 and released in 1.0.1 👍

[2019-06-25 16:16] #76 closed

[2019-07-26 21:23] schantaraud opened #82 "Sending empty of invalid multipart data crashes Fastify"
Hi,

Here's a minimal example based on the addToBody example from the documentation:

[code]

The error is: `Multipart: Boundary not found`.

I'd be happy to help if you can point me in the right direction.

[2019-07-27 13:12] Eomm commented on #82
Hi,
thank you for reporting!

In this case, the header must be changed accordingly to [HTTP docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST): `multipart/form-data;boundary="boundary"`

For sure crashing is not an option 😅: the problem is that we need to manage the error thrown here:

https://github.com/fastify/fastify-multipart/blob/efbca7ad2fdd7800d14f0ce00ed154335e80e081/ind

[2019-07-27 14:47] schantaraud commented on #82
Yes, I can do this.

Test "should call finished when both files are pumped" fails on my system (Node v12.6.0), is it expected?

[2019-08-01 07:50] #82 closed

[2019-08-01 20:04] cdnrg-rt opened #84 "CORS issue when posting multipart/form-data to route"
Everything works fine on localhost but when pushed live on the server getting CORS error

Simple axios post with multipart/form-data
`
let blob = fileBlob
let data = new FormData()
data.append('file', blob)
this.$axios.post(`${process.env.API}/post`, data)
            .then(function (response) {
              console.log(response)
            }).catch(function (error) {
              console.log(e

[2019-08-01 21:10] cdnrg-rt commented on #84
So this fixed it for me if anyone has the same issue. I needed to add the following line to my NGINX location block:

`client_max_body_size 10M;`

All good now :)

[2019-08-01 21:10] #84 closed

[2019-08-03 15:52] borodadada opened #85 "get key value from request"
Hello, i have a question, where my data after incomming :)

[code]

server
[code]
Or this only for files transfer?

[2019-08-03 15:55] mcollina commented on #85
It’s all documented in the readme. Look for the ‘field’ event and the addToBody option

[2019-08-03 15:55] #85 closed

[2019-08-03 17:31] borodadada commented on #85
i use doc, but dont work, formdata not recive on server side

[code]

send formdata, i use npm pack https://www.npmjs.com/package/form-data

[code]

result

[code]

why it happens?

[2019-08-03 17:46] Eomm commented on #85
Your error is the same explained here:
https://github.com/fastify/fastify-multipart/issues/82#issuecomment-515683212

You need to fix your requests header 👍🏼

[2019-08-03 17:57] borodadada commented on #85
Okey, set

[code]

on server side body = {}  empty

in options body on  addToBody: true

[2019-08-04 05:51] borodadada commented on #85
mr. admin why you close theme, problem is real

[2019-08-04 09:51] mcollina commented on #85
There are plenty of examples in https://github.com/fastify/fastify-multipart/blob/master/test/multipart.test.js.

[2019-08-06 02:46] xland opened #86 "0 size file saved with no error"
[code]
This is my code.
0 size file saved with no error.
Is there something wrong?
Dose 'pump' method need a callback function?  (The sample code doesn't have )

[2019-08-06 06:56] Eomm commented on #86
Could you add your `register` settings?

[2019-08-06 07:45] xland commented on #86
@Eomm

[code]

[2019-08-06 07:48] xland commented on #86
The fileSize option change to _1024 * 1024 * 6_  fix this issue.
Thank you!

[2019-08-06 07:48] #86 closed

[2019-08-07 11:03] greenkeeper[bot] opened #88 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.6.9` to `12.7.0`.

🚨 [View failing branch](https://github.com/fastify/fastify-multipart/compare/master...fastify:greenkeeper%2F%40types%2Fnode-12.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a

[2019-08-07 13:47] guiOLVR opened #89 "data: null"
I try to get image buffer, but still void.

![whyyyy](https://user-images.githubusercontent.com/16414250/62626618-28f72400-b8fe-11e9-8822-220acb083302.jpg)

Code:

[code]

[code]

whats wrong?

[2019-08-07 14:22] Eomm commented on #89
Remove the onFile parameter because if you set it with a function you must consume the stream, and the req.body.<fieldName>[index].data will be an empty array

[2019-08-08 12:20] guiOLVR commented on #89
It's work, thanks

[2019-08-08 16:24] #89 closed

[2019-08-08 19:48] Eomm commented on #88
Re-run the CI and it is ok

[2019-08-08 19:48] #88 closed

[2019-08-18 18:20] lagmanzaza opened #91 "How can I get path of image path after upload file ?"

[2019-08-18 18:46] lagmanzaza commented on #91
[code]

[2019-08-18 18:48] lagmanzaza commented on #91
This is my solution but I don't know that is best solution ?

[2019-08-19 06:29] Eomm commented on #91
What path do you want to read?

The client's path should not be meaningful in your server environment

[2019-08-19 17:35] lagmanzaza commented on #91
I mean I want to return `fileName` after pump() function is complete

[2019-08-19 17:36] lagmanzaza commented on #91
I want `fileName` to response to client

[2019-08-22 06:54] lagmanzaza commented on #91
Now I found a new solution. Thank you, sir

[2019-08-22 06:54] #91 closed

[2019-08-23 14:18] xland opened #94 "Can not get file data at some special scene"
My requirements:
- My client post 'multipart/form-data' type of data.
- I want to use schema to validate the client's data.
- I don't want to load the file's data into the memory.
- I want to specify the uploaded file's name.
- I register 'fastify-multipart' and handle post request in different js files.

My client code of post data:
[code]
My server code of register fastify-multipart
[code]
My se

[2019-08-23 18:44] Eomm commented on #94
This plugin is the right choice 👍

Your schema seems ok

If you set `addToBody: true` and you don't manage in the `onFile` you can't archive it.
Checkout in the readme the section `The onFile option define how the file streams are managed: ...`
Based on how you manage the streams, the memory will be used as well.

I don't understand: in the server, you have a stream and you can store it where you

[2019-08-24 01:11] xland commented on #94
@Eomm
Thanks for your reply.
I have some questions about that example.（explain my requirements）

-  It loads the file's data into the memory,because it doesn't set the `onFile` option.
-  If I pass the  `onFile`  option to the `fastify.register` function, I cann't set the file's name easily.
(File name is from controller's logic code).
- If I pass per-request options to the `req.multipart` functio

[2019-08-24 07:40] Eomm commented on #94
Yes

(File name is from controller's logic code).

Yes, I understand. Maybe you could register the plugin in the controller

Nope, if you use the per-request option the `addToBody` is not mandatory

True, the `addToBody` is mandatory to apply validation. This is not avoidable since if we don't read the file stream we can't compose the body. If we don't compose the body we can't validate it

True,

[2019-08-24 09:29] xland commented on #94
Yes. I'm glad to help to improve the document.
But, What shold I do now?

I have an idea:

[code]
[code]
The code above is ugly.
But it can

- Validate the form data
- No need to load the file's data into the memory
- Set the file's name by logic code

Isn't it?

So, Should the plugin do these things for me?

[2019-08-24 15:30] xland commented on #94
It seems wrong.

onFile event will fire before myGlobalObj.onFileHandler been setted

[2019-08-25 19:10] Eomm commented on #94
This should works:

[code]

[2019-08-26 00:15] xland commented on #94
@Eomm
The file name `abc.rar` should come from the `fastify.post('/xyz'` controller
Can it be done?

[2019-08-26 05:43] Eomm commented on #94
Which field? Because you can't access the body in that phase. The headers are ok instead

[2019-09-06 07:50] a1047050321 opened #97 "mp.on('field', function (name, value) { this function is not running"
mp.on('field', function (name, value) { this function is not running

[2019-09-23 11:07] alexeychikk opened #98 "Request is still pending after reply is sent"
## 🐛 Bug Report

I have my own validation for the `fileSize` in `this.fileService`, and the service throws error if it exceeds particular value. This error is then catched in the `handlePostUpload` route and reply with code 400 is being sent (see comment in the code below). BUT devtools in the browser show that request is still pending and I get my response only after ~2 minutes of waiting. I debu

[2019-09-23 11:16] alexeychikk commented on #98
If I change this
[code]
to
[code]
then I get response in the browser in 5 seconds

[2019-09-23 12:55] alexeychikk commented on #98
I solved my problem with this:
[code]

[2019-09-23 12:55] #98 closed

[2019-10-03 22:16] greenkeeper[bot] opened #99 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.10` to `12.7.11`.

🚨 [View failing branch](https://github.com/fastify/fastify-multipart/compare/master...fastify:greenkeeper%2F%40types%2Fnode-12.7.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node i

[2019-10-29 11:40] SkeLLLa opened #102 "Don't attach file to body if limit reached"
## 🚀 Feature Proposal

Should this plugin using `attachToBody=true` avoid adding data to body in https://github.com/fastify/fastify-multipart/blob/master/index.js#L60?

## Motivation

If limit is reached we're will not receive the whole file anyway and that data might be useless in most cases. However it will eat memory. Also we can remove that data from memory early, just as soon as `limit` event

[2019-10-30 06:36] mcollina commented on #102
Would you mind to send a PR?

[2019-10-30 06:36] mcollina commented on #102
(Good spot!)

[2019-10-30 07:14] SkeLLLa commented on #102
Ok, will do.

[2019-11-02 10:38] #99 closed

[2019-11-18 08:55] xland commented on #94
I see.
Thanks.
I thought it is not a true issue.
So just close it.

[2019-11-18 08:55] #94 closed

[2019-12-07 12:35] theliuk opened #106 "Conditions under which the "on end" callback is called"
I have noticed that, if the read stream representing the file being handled is not emptied, then the "on end" callback is not called.

In the main example we see how to use "pump" or "contact-stream" to empty the read stream inside the file handler; then the we answers the http request in the "on end" callback.
If someone forgets to empty the read stream and uses the "on end" callback to answer to

[2019-12-07 12:41] mcollina commented on #106
That's the default behavior as it comes from https://github.com/mscdex/busboy, which we wrap. Would you mind to send a PR to update the README to clarify it?

[2019-12-07 16:08] theliuk commented on #106
I’ll do.

[2019-12-09 10:56] Eomm commented on #106
Merged in #107

Thanks for improving the documentation 💪🏻

[2019-12-09 10:56] #106 closed

[2019-12-09 15:15] theliuk commented on #97
Can you provide more information about your context of execution?
Node version, fastify and fastify-multipart versions?

[2019-12-10 12:18] amit12cool opened #108 "addToBody should have readable stream rather than buffer"
I was integrating fastify multipart in my nestjs code and wanted to do the field validations in the multipart form data.
I observed that the file data is put in body as data buffer rather than file stream.This willd efinitely impact the performance.
Can we have a file stream rather than buffer in body for file?

[2019-12-10 12:34] mcollina commented on #108
In order to validate the body in validation phase of the lifecycle, the body needs to be fully parsed.

Have you got any ideas on how to solve this?

[2019-12-10 12:42] amit12cool commented on #108
Can we write the data to file system rather than buffer and provide the events on stream while the file is being written to file system.
Check this out
https://www.npmjs.com/package/formidable

[2019-12-10 13:27] mcollina commented on #108
I’ll be happy to review a PR that adds similar functionity.

[2019-12-10 13:29] amit12cool commented on #108
I will work on it.

[2019-12-10 16:40] delvedor opened #109 "Async Await support"
It would be great to have Async Await support in this module!
Would you like to work on it? Let us know below!

[2019-12-10 16:51] ns23 commented on #109
Hi can i work on it  ?

[2019-12-10 16:54] surajrockzz commented on #109
Hii can I work on it?

[2019-12-18 13:24] chenchuraviteja commented on #59
Hello there!
But I still get an error :

[code]

[2019-12-18 13:39] olivierto commented on #59
@chenchuraviteja what is your validation schema ?

[2019-12-19 04:21] chenchuraviteja commented on #59
validation schema

On Wed, Dec 18, 2019 at 7:09 PM Oliviertoto <notifications@github.com>
wrote:

[2019-12-19 04:21] chenchuraviteja commented on #59
schema: {
tags: [{
name: 'Category'
}],
description: 'Post category data',
consumes: [ "multipart/form-data" ],
body: {
type: 'object',
properties: {
name: {
type: 'string'
},
thumg_url: {
isFileType: true,
type: 'object'
},
img_url: {
isFileType: true,
type: 'object'
},
status: {
type: 'number',
enum: [0, 1],
default: 1
}
},
required: ['name', 'thumg_url', 'img_url']
},
response: {
201: {
type: '

[2019-12-19 08:50] Eomm commented on #59
@chenchuraviteja Sorry, but you posted the same message here and here https://github.com/fastify/fastify-swagger/issues/47#issuecomment-567327816
So, please open an issue and describe your problem, filling all the info as described in the issue template.

Only in this way we could help you

[2019-12-23 10:19] tuelsch opened #110 "Failing test on windows 10"
## 🐛 Bug Report
The multipart test is failing to call finished when both files are pumped.

test/multipart.test.js .............................. 47/48 12s
  should call finished when both files are pumped
  not ok should be equal
    --- wanted
    +++ found
    -2
    +0
    compare: ===
    at:
      line: 97
      column: 9
      file: test/multipart.test.js
      type: Immediate
      method:

[2019-12-23 10:54] mcollina commented on #110
are you able to send a PR to fix it? Thanks!

[2019-12-23 11:01] tuelsch commented on #110
I actually don't know if it's just me. If anybody else can reproduce the bug on windows I'll look into it.

[2019-12-23 16:51] Eomm commented on #110
Unfortunately, I had this problem and it is a matter of optimization of the PC.

For example if you write this handler in the `should call finished when both files are pumped` test:

[code]

All will works

Causes: HDD latency + battery saving mode +❓

For this reason, we have windows in our CI 😅

[2019-12-23 19:39] tuelsch commented on #110
@Eomm,  I tested your code and the test passes now. Should I submit a PR?

[2019-12-23 20:15] mcollina commented on #110
Yes!

Il giorno lun 23 dic 2019 alle ore 20:39 Philipp Gfeller <
notifications@github.com> ha scritto:

[2019-12-23 20:48] Eomm commented on #110
Not sure why we saved the files in a temporary directory

Check it out please

[2020-02-10 18:35] greenkeeper[bot] opened #115 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/fastify/fastify-multipart/compare/master...fastify:greenkeeper%2F%40typescript-eslint%2Fparser-2.19.1).

This version is **covered** by your **current version range** and after updating it in your project **the b

[2020-03-04 04:20] wolfejw86 opened #117 "Is the "onEnd" callback mandatory?"
I have a use-case where I want to essentially pull the stream out of these callbacks before I use it.

[code]

I'm trying to figure out if I have to worry about the onEnd call back as it just seems really verbose. I'd rather get access to the file that's being uploaded and resolve/pipe it somewhere else and handle the errors there.  As it looks now, it appears I can do that but also need to handle

[2020-03-04 16:06] mcollina commented on #117
I think you have a really bad bug in your logic. Essentially you are creating a Promise that you might never resolve, very likely creating a memory leak :/.

Probably a full example would be needed, as it's totally unclear what you are trying to achieve.

[2020-03-04 16:54] wolfejw86 commented on #117
Yeah re-reading the above it does sound convoluted.  I'll try to put together a full example I can share.  Here is hopefully a simpler summary that may at least give insight into what I'm trying to deal with:

- upload file to fastify endpoint
- pipe upload stream to a blob storage
- the `onEnd` callback gets fired BEFORE the resolution of the blob storage upload (which makes sense bc it would nee

[2020-03-04 17:09] mcollina commented on #117
I think you might be complicating your life by wrapping it inside a Promise.

[2020-03-04 18:43] wolfejw86 commented on #117
Okay, sorry for the convoluted example, but it was the best I could come up with.  Again I may just be overthinking it, but it seems like there's a situation where the stream onEnd could have an error and then an error would also be triggered inside my upload function.

[code]

[2020-03-04 22:48] Eomm commented on #117
I think we should be more clear:
- the `handler` is called for every multipart field, so if you send 2 files, it will be called twice
- the `onEnd` function will be called when all the request stream has been consumed, it doesn't refer to a single file

I think it is wrong sending a `replay.send()` in the handler, but it should put in the `onEnd` function refactoring your code.

Anyway, if you wri

[2020-03-04 23:11] wolfejw86 commented on #117
Thank you for chiming in.  I did understand the part about multiple files and onEnd not happening until all of them had been processed.

My area of concern centers around the fact that while _the last file stream has finished processing_ the asynchronous action I passed that filestream to in the handler function _is not finished_.  It is the latter that I care about waiting for before sending an A

[2020-03-04 23:24] Eomm commented on #117
Oh, I understand.

Who is the streamwriter? Does it implement all the [stream lifecycle](https://nodejs.org/es/docs/guides/backpressuring-in-streams/#lifecycle-of-pipe)?

[2020-03-05 00:09] mcollina commented on #117
I would recommend you _not to mix promises and streams_ in that handler.

This is solvable by using https://nodejs.org/api/stream.html#stream_stream_finished_stream_options_callback or https://nodejs.org/api/stream.html#stream_stream_pipeline_source_transforms_destination_callback on the uploading stream.

Your goal is to send your response inside `onEnd` or when the uploading stream has finished

[2020-03-05 02:55] wolfejw86 commented on #117
Okay, after doing some further reading, I think there's a conflict in the approach of some of the other libs I'm using vs the generalist approach that busboy uses.  It does handle multiple files, but I've limited it to 1 and according to the docs, any additional will be "safely discarded".  It also uses callback apis whereas the other tools I'm using are only promise based.

I can't rightly use th

[2020-03-05 08:42] mcollina commented on #117
That will work.

[2020-03-05 08:42] #117 closed

[2020-03-10 15:07] Swizz commented on #109
Hey !
Is there any progress on this ?

[2020-04-12 09:05] bijotilyo opened #118 "req.on is not a function"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

A clear and concise description of what you expected to happen.

[code]

## Your Environment

- *node version*: 10, 12, 13
- *fastify version*: >=2.0.0
- *os*: Mac, Windows, Linux
- *any other relevant information*

[2020-04-12 09:14] Eomm commented on #118
Please, edit your question adding information about your issue

[2020-05-07 08:13] morigs opened #120 "Fields arrays not working"
## 🐛 Bug Report

Currently, it's impossible to accept multipart requests with array fields. It's a common pattern to duplicate field to pass an array ([example](https://stackoverflow.com/questions/10002821/how-do-i-post-an-array-with-multipart-form-data-encoding)). Owner of busboy [recommends](https://github.com/mscdex/busboy/issues/159#issuecomment-354678039) to check duplicates of keys and creat

[2020-05-07 08:20] mcollina commented on #120
Would you like to send a PR?

[2020-05-07 09:47] morigs commented on #120
Here we go. Please double-check my PR, I'm not sure that I took into account all possible cases

[2020-05-09 15:44] #120 closed

[2020-06-08 15:25] cbronson opened #129 "onFile function is not called when passed as a per-request option"
## 🐛 Bug Report

The onFile function is not called when passed as an option for a single request. I am not sure if this is a bug or a problem with my code.

## To Reproduce

Steps to reproduce the behavior:

[code]

Value of `req.body.files`:
[code]

## Expected behavior

The above onFile function should output 'data...' for each received chunk as it does when set as an option on the initial regis

[2020-06-08 16:20] mcollina commented on #129
I think neither `addToBody` or `sharedSchemaId` can actually be specified in the `request.multipart`. As you have experienced, they won't work. I think the doc is wrong and needs to be updated (or possibly the code fixed).

Would you mind to send a PR to update the README?

[2020-06-22 16:37] yaneony opened #131 "Is there proper example on how to cancel upload?"
Just wondering if there is some proper example on how to cancel upload on some of event, like "partsLimit", "filesLimit", "fieldsLimit", "limit"? Had anyone success on checking and canceling them?!

[2020-06-22 19:45] mcollina commented on #131
Possibly with `req.raw.destroy()`? I've actually never tried.

[2020-06-22 21:35] yaneony commented on #131
For an example, i would allow users to create some kind of "content", forum thread, or anything like that... User will be able to upload up to 3 files, 10mb each max. So, someone will upload 10 files instead of 3 and some of those files will be larger than 10mb... There should be some possibility to cancel uploads if any of limits meant above ("partsLimit", "filesLimit", "fieldsLimit", "limit") oc

[2020-06-23 07:33] mcollina commented on #131
I think calling the callback with an error or `reply.send(new Error(‘too big’))` should do the trick.

[2020-06-23 23:44] yaneony opened #132 "What is the purpose on using "req.multipart(handler, onEnd)"?"
What is the purpose on using "req.multipart(handler, onEnd)", i mean the "handler" and "onEnd", when that is an instance of busboy and busboy event could be used? I see there only an "short" advantage if you're using files only, and if you process another text/form fields, you will have to use
[code]
anyway in that case. So, what's the purpose on "re-defining" existing events?!

[2020-06-23 23:54] yaneony commented on #132
So, the following code

[code]

could be easily repalced with

[code]

[2020-06-24 00:12] yaneony commented on #131
`req.raw.destroy()` partially do the trick if you put in into 'limit' event, but, the problem is that application still trying to do something and you don't get any reply from your web/api until some timeout... I'm just looking for any good way to stop busboy processing any of "fields" if any of file/field limits has hit.

[2020-06-24 00:34] yaneony commented on #131
Answering my own question:

To prevent firing "finish" event on any processing after you hit "limit", you will have to "unpipe" the Busboy instance from your request.

That code do the trick:
[code]

[2020-06-24 10:51] mcollina commented on #131
That's awesome! It would be handy to add an `mp.abort()` method that does the above.

[2020-06-24 10:57] mcollina commented on #132
The `onEnd` function is called _when all files are processed_, while `'finish'` is emitted when all the files have been received. There is a subtle difference in handling errors.
The `handler` is called after `onEnd` is hooked up correctly, however it's not really needed and something we could remove.

[2020-06-24 11:25] yaneony commented on #132
What do you mean by "when all files are processed"? What is "processing" in that case?

[2020-06-24 11:29] yaneony commented on #131
So, i've digged around and it looks like that's the only possible variant to cancel upload while hitting the limit. Otherwise, if you don't do that, your app will wait until full file size is consumed.

Following, try to set limit to 1mb and try to upload 700mb file. You will see that it will take as long as it would take to upload full 700mb file and will not break after 1mb is done.

To note is,

[2020-06-24 22:34] mcollina commented on #132
Essentially when all streams have been fully consumed.

[2020-06-24 22:35] mcollina commented on #131
A PR for this would be amazing!

[2020-06-25 08:17] mcollina commented on #131
That seems about how I would handle it!
One of the things we can do is to add handling of those events in `addToBody`.

[2020-06-25 08:37] yaneony commented on #132
Thanks for explaining!

[2020-06-25 08:37] #132 closed

[2020-06-28 00:47] yaneony commented on #131
One small improvement, you have to add header to close the connection or your browser will hang until it times out.
Here the code:

`return res.code(400).header('Connection', 'close').send(err);`

So far, that's working very well.

[2020-06-28 00:49] yaneony commented on #131
I think that's a proper and good example to upload, check and to do what you want with files you upload. Now i will close it, reopen if required.

[2020-06-28 01:01] yaneony commented on #129
You might check that example  https://github.com/fastify/fastify-multipart/issues/131

[2020-06-28 07:19] mcollina commented on #131
Please send a PR!

[2020-07-02 02:23] alex-sh-li opened #134 "Cannot upload file from multiple fields"
## 🐛 Bug Report

When uploading file from multiple fields , only the first files read is detected

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

When Uploaded from multiple fields, files from every field should trigger the callback

## Your Environment

- *node version*: 12
- *fastify version*: fastify from nest.js fastify plugin
- *os*: Mac

[2020-07-02 07:17] alex-sh-li commented on #134
I don't know what have I done to make this work. But I did change the implementation from promise based to event-based.
Here is the code.

[code]

[2020-07-02 07:17] #134 closed

[2020-07-09 21:35] AcidSlide opened #136 "Upgrading to 2.0.3 build error "has not exported member 'FastifyPlugin'""
## 💥 Regression Report

After upgrading from version 1.0.6 to 2.0.3 receiving build error (using NestJs)

[code]

## Last working version

Worked up to version: 1.0.6

Stopped working in version: 2.0.3

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Build/Compile to continue with no errors.

## Your Environment

- *node version*: 10.20.1
- *fastify version*: >=2.0

[2020-07-10 01:52] AcidSlide commented on #136
sorry closing this, it seems the issue is related with the nestjs/platform-fastify which needs to get updated to v3 of Fastify.

[2020-07-10 01:52] #136 closed

[2020-07-11 02:55] quocthangit247 commented on #97
@theliuk I am using the newest version of nestjs with fastify-multipart(1.0.6)
![Screenshot from 2020-07-11 09-55-01](https://user-images.githubusercontent.com/25447620/87215044-b045e680-c35c-11ea-97aa-15c6b1134037.png)

[2020-07-11 06:39] Eomm commented on #97
We need a minimal script to reproduce the problem to help you

[2020-07-11 10:06] theliuk commented on #97
If your multipart data expect a file among the other fields, make you sure you don’t empty the corresponding stream ahead of time. It would be helpful to have some code to see in order to help you anyway.

[2020-07-11 10:37] quocthangit247 commented on #97
Thanks for reply me. I am trying to debug in vscode and didn't find `field` event
![Screenshot from 2020-07-11 17-35-28](https://user-images.githubusercontent.com/25447620/87222363-3f72ee80-c39d-11ea-93f4-df9b58e4db4c.png)

[2020-07-11 12:09] Eomm commented on #97
Remove the await before the req.multipart call

It should work then

[2020-07-26 02:55] 58bits commented on #129
I just came across this, and if I've understood this correctly, once you're in the handler for that route, the stream has already been handled by the `addToBody` option and is now a buffer on the request body if it wasn't handled by `onFile` when fastify-multipart was registered. @yaneony - thanks for the longer example in https://github.com/fastify/fastify-multipart/issues/131

[2020-07-26 03:01] 58bits commented on #131
Thanks for the example @yaneony. We came across this just now. Per request `addToBody ` with the extra mp event handlers would be very nice.

[2020-07-30 06:02] FerLuisxd opened #137 "onEnd function called twice"
## 🐛 Bug Report

Hello,  this is my first issue here,
So basically the problem is that the response is sent twice

## To Reproduce

Steps to reproduce the behavior:

Below is a function that I export to the array of routes I use on another file, the route and implementation is fine, I've tested with other routes (that don't require this module). So it must be something about the onEnd being called

[2020-07-30 06:10] mcollina commented on #137
Would you mind adding a self-contained example that reproduce the problem? We need to know what http body can cause this.

[2020-07-30 06:10] mcollina commented on #137
Can you also check with Node v12 or v14, v13 is _unsupported_.

[2020-07-30 06:21] FerLuisxd commented on #137
Thanks for the fast response! Will do tomorrow

On Thu, Jul 30, 2020, 1:10 AM Matteo Collina <notifications@github.com>
wrote:

[2020-07-30 18:03] FerLuisxd commented on #137
You should be able to download this clone/ download this example
https://codesandbox.io/s/amazing-driscoll-s7wlg?file=/src/start.js

[2020-07-31 13:46] mcollina commented on #137
[code]

That's the error it has.

[2020-07-31 14:28] Eomm commented on #137
I think you are missing a `return` statement here

[code]

[2020-07-31 18:00] FerLuisxd commented on #137
On me, I was using an async function when it was really not needed! My apologies! Will close this now

[2020-07-31 18:00] #137 closed

[2020-08-04 01:48] zhangwinning opened #138 "the handle function add addition params"
## 🚀 Feature Proposal

I want get a new filename from the handle function params,  for rename it.  however don't params. for this case. I wish add specific params work it.
https://github.com/fastify/fastify-multipart/blob/c1bbed1f070bfcf910ad9b7c118eba9426260eba/example.js#L29

## Motivation

rename file name

## Example

Please provide an example for how this feature would be used.

[2020-08-04 02:57] zhangwinning commented on #138
I can get params from the formbody 😓

[2020-08-04 02:57] #138 closed

[2020-08-04 19:45] StarpTech opened #139 "Improve developer experience"
## 🚀 Feature Proposal

Today, I needed to develop a simple image upload service in fastify and it felt unsatisfying.

## Motivation

Handling multipart form data should be dead simple and intuitive in fastify.

-  Support `async / await` (async stream iterators)
- Zero boilerplate, provide fastify-hooks to do all this stuff with good defaults (like in expressjs/multer `upload.single("uploaded_file

[2020-08-04 19:49] fox1t commented on #139
What about https://www.npmjs.com/package/fastify-multer for the same old multer DX?

[2020-08-04 19:53] StarpTech commented on #139
@fox1t great I didn't know it.

[2020-08-04 19:56] StarpTech commented on #139
Since this is the core package we should try to improve this package or switch to fastify-multer entirely.

[2020-08-04 20:01] fox1t commented on #139
We might also move fastify-multer under fastify organization here on GitHub.

[2020-08-04 20:33] Eomm commented on #139
I added the `addToBody` options for this purpose, but I agree, it could be improved in performance and docs

[code]

[2020-08-05 09:05] StarpTech commented on #139
@Eomm nice. Performance shouldn't be a priority in that iteration. I'd like to have a very simple module that uploads files default to disk with additional options for streams and memory. fastify-multer looks very promising. @fox1t do you think adding a stream storage mode would be a good enhancement?

[2020-08-05 11:04] StarpTech commented on #139
I really like the api in https://eggjs.org/en/basics/controller.html#acquiring-the-submitted-files

[2020-08-05 11:07] fox1t commented on #139
@aichholzer i think that this is one of the killer features. Sometime ago I was working on this https://www.npmjs.com/package/storagecoach but actually I never finished it nor decided the API I wanted to expose. The idea is to have only one interface that exposes only streams and then uses drivers internally to upload to disk/azure blob storage, s3, or GCP.

[2020-08-05 13:51] mcollina commented on #139
+1, improving the multipart story of Fastify would benefit a lot the comunity!

[2020-08-05 13:58] jsumners commented on #139
🤔 The current implementation offers flexibility in testing. I am able to hook into the events to inspect that things are handled correctly.

[2020-08-09 15:03] StarpTech commented on #139
I prepared a first https://github.com/fastify/fastify-multipart/pull/140 to overhaul the current interface.

[2020-08-15 02:08] 58bits commented on #131
We created a multipart handler file - based on @yaneony example above. https://gist.github.com/58bits/44d6463f3df6d652601c74e63736b693 - in the gist we've begun to implement some of our own configuration, and error handling, so this is not completely generalized. Our schemas for body / field validation are also imported separately.

With this we can now create request-specific handlers like...

[c

[2020-08-22 17:57] StarpTech opened #143 "Failing test "addToBody option with promise in error" on windows"
## 🐛 Bug Report

The request is closed prematurely. The `finish` event of busboy is not called.

E.g https://github.com/fastify/fastify-multipart/pull/140/checks?check_run_id=1016276680 or https://github.com/fastify/fastify-multipart/runs/1016446675

[code]

After excluding the test on windows I run into a different one https://github.com/fastify/fastify-multipart/runs/1016451884?check_suite_focus

[2020-08-23 17:13] mcollina commented on #143
Can we skip them on windows for now?

[2020-08-23 17:53] StarpTech commented on #143
Yes, everything included in https://github.com/fastify/fastify-multipart/pull/140

[2020-08-25 14:22] StarpTech commented on #110
This should be finally fixed with the new promise API with works flawlessly on windows https://github.com/fastify/fastify-multipart/pull/140

[2020-08-25 14:28] StarpTech commented on #108
You can use `onFile` handler to work with streams directly.

[2020-08-25 14:28] #108 closed

[2020-08-25 14:33] StarpTech commented on #102
This is covered by the new implementation https://github.com/fastify/fastify-multipart/pull/140. In case of an error, an exception or stream error is thrown and the stream is ignored entirely.

[2020-08-25 14:36] StarpTech commented on #109
Async / await support is fully covered in the new implementation #140

[2020-08-25 19:31] #109 closed

[2020-08-25 19:31] StarpTech commented on #109
Closed with #140

[2020-08-25 19:32] StarpTech commented on #143
Closed due to new api #140

[2020-08-25 19:32] #143 closed

[2020-08-25 19:32] StarpTech commented on #139
Implemented and merged.

[2020-08-25 19:32] #139 closed

[2020-08-25 19:33] StarpTech commented on #118
Closing due to inactivity.

[2020-08-25 19:33] #118 closed

[2020-08-25 19:34] StarpTech commented on #97
Closing due to inactivity. Feel free to reopen if it doesn't work.

[2020-08-25 19:34] #97 closed

[2020-08-25 19:37] StarpTech opened #144 "Improve typescript types"
## 🚀 Feature Proposal

- Some interfaces aren't covered e.g `onFile` handler in the new promise API.
- Validate TS types in the CI.

## Motivation

Full TS support.

[2020-08-27 02:18] outbackStack opened #146 "fastify-multipart v 3.0 not able to access key/value pairs with upload binary file"
## 🐛 Bug Report
Thanks for improving this plugin to make it easier for files upload.
I've switched over to v3.0 and tried out the new API but it's not letting me access the fields data like the legacy version

## To Reproduce

Steps to reproduce the behavior:

Client form
[code]

Server
[code]

## Expected behavior

print out { name: 'Foo' }

in the legacy version, i could access it under this:
[c

[2020-08-27 06:04] mcollina commented on #146
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-27 06:04] mcollina commented on #146
cc @StarpTech

[2020-08-27 10:52] StarpTech commented on #146
We can't parse out of sync because files must be handled first. In order to archive your result, you have to reorder your form

[code]

[2020-08-27 10:53] StarpTech commented on #146
or you use `multipartIterator `to iterate over field and files.

[2020-08-27 10:53] kibertoad commented on #146
@StarpTech It's an easy mistake to make, though. Can we improve error message in this case, offering suggestions to check for this exact case?

[2020-08-27 11:09] StarpTech commented on #146
Not sure, how we can improve the error message if don't produce one. Would you like to improve the docs? smt like:

Related issue: https://github.com/mscdex/busboy/issues/43, https://github.com/mscdex/busboy/issues/97

[2020-08-27 11:14] StarpTech commented on #146
Just for completeness: You can use `const files = await req.saveRequestFiles()` to pump all files to disk and all fields are available.

[2020-08-27 15:57] kaleidawave opened #148 "Throws request is not multipart when it actually is"
## 🐛 Bug Report

Throws this on valid request:
[code]

## To Reproduce

Steps to reproduce the behavior:

`server.js`:
[code]

The raw request coming in:
[code]

## Expected behavior

Not to throw, and for `(await req.file()).fields["email"]` to have string content

## Your Environment

- *node version*: v12.14.1
- *fastify version*: 3.1.1
- *fastify-multipart version*: 3.0.0

[2020-08-27 16:30] StarpTech commented on #148
I see two issues:

- You use `GET`
- Expect a file although you send a string.

[2020-08-27 16:31] #148 closed

[2020-08-28 07:19] RareLambChops commented on #146
thanks @StarpTech , it works if they are in the correct order and ```js multipartIterator() ``` works too but that doesn't need to be in order.

Maybe we can add in the note for the first sample to flag this issue if they encounter it with this API?

[code]

[2020-08-28 07:44] RareLambChops commented on #146
btw @StarpTech, the new API is really easy to use so thanks again for that! 😊

[2020-08-28 11:06] StarpTech commented on #146
@RareLambChops thanks and great to hear. Would you like to create PR?

[2020-08-29 10:59] ddadaal opened #150 "406 responses for all requests with content-type other than `multipart/form-data` when attachFieldsToBody is set to true"
## 🐛 Bug Report

If `attachFieldsToBody` is set to true, all requests with content-type other than `multipart/form-data` are responded with `FST_INVALID_MULTIPART_CONTENT_TYPE` error and status code 406.

## To Reproduce

Steps to reproduce the behavior:

[code]
[code]

## Expected behavior

fastify-multipart only handles requests with `multipart-form-data` content-type.

[code]

## Possible fix

[2020-08-29 11:45] StarpTech commented on #150
Great catch. Please create a PR and don't forget to add a test.

[2020-08-29 13:21] #150 closed

[2020-09-03 23:31] StarpTech commented on #110
Closing due to inactivity.

[2020-09-03 23:31] #110 closed

[2020-09-03 23:32] StarpTech commented on #129
Closing due to inactivity.

[2020-09-03 23:32] #129 closed

[2020-09-03 23:32] StarpTech commented on #102
Closing due to inactivity.

[2020-09-03 23:32] #102 closed

[2020-09-20 12:18] GogaRUFI opened #157 "Fastify request file call never returns"
## 🐛 Bug Report

If multipart form data fields aren't appended in a specific order, the `request.file()` never returns.

## To Reproduce

Steps to reproduce the behavior:

CLIENT:

[code]

SERVER:

[code]

## Expected behavior

The file call bellow returns either a failed promise with a meaningful error message or resolves successfully.

[code]

## Your Environment

- *node version*: 12.16.3
- *fa

[2020-09-20 18:30] StarpTech commented on #157
I can't reproduce it. We have a test with the same semantic. @GogaRUFI could you try to add a failing test?

[2020-10-01 08:55] bmo-at opened #158 "cleanRequestFiles() trying to delete non-existent/already deleted files"
## 🐛 Bug Report

The cleanRequestFiles() Method tries to clean up files that have already been cleaned up previously, thereby producing a number of 'no such file or directory' errors.

## To Reproduce

Steps to reproduce the behavior:

Server:
[code]

[code]

With every request, what you'll see is fastify spitting out errors on the console proportional to the number of requests made to the server

[2020-10-01 08:57] mcollina commented on #158
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

Also cc @StarpTech for awareness.

[2020-10-01 10:42] StarpTech commented on #158
@mcollina this looks like an issue in the core. Fastify `request` must be new on every request.

[2020-10-01 10:50] mcollina commented on #158
it is new, but they all share the same array for tmpUploads. That must be reset for each request, it's a bug here.

[2020-10-01 10:57] StarpTech commented on #158
I'd strongly expect that fastify is responsible to reset the request object. This avoids such memory leaks.

[2020-10-01 11:08] StarpTech commented on #158
But yes, in order to fix it we need to reset the array in the `cleanRequestFiles` function.

[2020-10-02 07:08] bmo-at opened #160 "Inconsistent behavior when handling file limits"
## 🐛 Bug Report

The limits you can give to fastify-multipart are handeled in an inconsistent way.

If, for example, you give it a limit for the number of files it will automatically end the request with a 413 or alternatively I can catch the error that saveRequestFiles() throws and create my own response on top of that.

However, if I give it a limit for the file size it will not do the same.

In

[2020-10-02 07:25] mcollina commented on #160
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-10-02 07:30] bmo-at commented on #160
I'll be honest, I'd love to. But I am only a college student and while my employer does permit and even encourage OSS contributions at work, I am currently in quite a time crunch to get my project done today before I head into two weeks of vacation to prepare for an exam.
After that? Sure, I'd love to contribute but I assume by that time you'll want this problem dealt with.

[2020-10-02 08:22] StarpTech commented on #160
Indeed `saveRequestFiles` try to consume as many files as possible without throwing. We could handle in two ways:

1. Rethrow on errors https://github.com/fastify/fastify-multipart/blob/master/index.js#L485
2. Expose the latest file error on a request decorator so you can check for errors without aborting the whole upload process.

[2020-10-02 08:24] mcollina commented on #160
I think rethrowing on error is the best path forward.

[2020-10-03 12:25] StarpTech commented on #146
Closing the issue because it's the inherited behavior of busboy.

[2020-10-03 12:25] #146 closed

[2020-10-04 10:41] #158 closed

[2020-10-07 09:05] JbIPS opened #162 "Inconsistent Multipart type when some fields are not files"
# 🐛 Bug Report

When sending multiple fields in the form-data, Typescript types them all as files, even if it's not the case

## To Reproduce

Steps to reproduce the behavior:
[code]

[code]
With this call, we submit a file and a string. But due to the [Multipart type](https://github.com/fastify/fastify-multipart/blob/master/index.d.ts#L26), they're all typed the same and we can't access the `.val

[2020-10-07 09:21] StarpTech commented on #162
Make sense. Feel free to create a PR.

[2020-10-13 08:41] JbIPS commented on #162
Done! Let me know if you need anything more :smiley:

[2020-10-14 08:33] #160 closed

[2020-10-17 08:56] #162 closed

[2020-10-19 06:34] nurdism commented on #157
I am running into similar issues with the async iterator, I am running this code:
[code]
if I have a file in the multipart request the request will hang and never complete the promise

did some digging and found that https://github.com/fastify/fastify-multipart/blob/master/index.js#L344 get called at the very beginning of the request, it then calls `cleanup()` witch does not resolve the promise, c

[2020-10-19 07:50] StarpTech commented on #157
@nurdism could you please provide a full example? A failing unit test would be great.

[2020-10-19 16:17] StarpTech commented on #157
I tried this and it works without any error.

[code]

[2020-10-19 16:18] cstrnt opened #168 "Plugin throws an error when transpiling using typescript"
## 🐛 Bug Report

When using this plugin with typescript it throws an error when transpiling my app using `tsc`. The error says
[code]

## To Reproduce

[code]
then run `tsc`

## Expected behavior
The plugin should either ship the correct typings for busboy as well or should say to install them as a dev dependency in the README

## Your Environment

- *node version*: v12.19.0
- *fastify version*: 3

[2020-10-19 16:29] StarpTech commented on #168
Hi, @cstrnt thanks for the opening an issue.

[2020-10-19 17:40] #157 closed

[2020-10-19 20:43] #168 closed

[2020-10-21 10:10] bmo-at opened #172 "Truncated files are cleaned up and then cleaned up again (unsuccessfully)"
## 🐛 Bug Report

I noticed that in the fix for #160, a slight mistake was introduced: When a file is rejected because of its size, it is immediately cleaned and the errpr gets thrown upwards. Unfortunately, the offending file still makes it into the requests tmpUploads array, where it is then attempted to be cleaned up again when the request draws to a close. There's an easy fix here for which I h

[2020-10-21 10:18] StarpTech commented on #172
Hi @bmo-at thanks for opening an issue.

[2020-10-21 10:46] bmo-at commented on #172
Closed by #171

[2020-10-21 10:46] #172 closed

[2020-10-21 11:04] xplodeart opened #173 "multipart does not work with validation and fastify-swagger"
## 🐛 Bug Report

When used with validation and fastify-swagger with the same code from the [example](https://github.com/fastify/fastify-multipart/blob/master/examples/example-validation.js) the file object is empty.

When validation is disabled, the upload works as intended.

## To Reproduce

Register fastify-multipart and fastify-swagger, add a POST route with schema as in the example and try to

[2020-10-21 11:07] mcollina commented on #173
Can you please provide a full example to reproduce?  I'm not sure where the problem is and it will be very helpful. Essentially a server and a client calling it on the same javascript file / or maybe a repo. Essentially something that we can run that clearly show the failure.

[2020-10-21 11:31] xplodeart commented on #173
Sure, sorry for making this harder.

Here's a package.json:
`{
  "name": "fastify-bug",
  "version": "0.0.1",
  "description": "",
  "main": "index.js",
  "author": "Max <max.xplodeart@gmail.com>",
  "dependencies": {
    "fastify": "^3.7.0",
    "fastify-multipart": "^3.2.1",
    "fastify-swagger": "^3.4.0",
    "pino-pretty": "^4.3.0"
  }
}
`

Here's a full example of how it won't work:
`const f

[2020-10-21 11:36] mcollina commented on #173
(I've formatted your example)

[2020-10-21 11:37] xplodeart commented on #173
Me too 👍

[2020-10-21 11:40] mcollina commented on #173
What error are you getting?

[2020-10-21 11:43] xplodeart commented on #173
@mcollina no error at all, just the file object is undefined if the validation is set.

attachFieldsToBody: true seems to be causing this result.

[2020-10-21 13:56] mcollina commented on #173
Note that your code is not correct. Check out https://github.com/fastify/fastify-multipart#parse-all-fields-and-assign-them-to-the-body for the `attachFieldsToBody` option. You can use that together with `await request.file()`, we should throw an error if those are used together.

[2020-10-22 00:13] xplodeart commented on #173
@mcollina I see, so it would be helpful if we can use `request.file()` and have validation in the same time, instead of relying on buffers only to have validation to work properly.

Thank you!

[2020-10-22 06:27] mcollina commented on #173
Validation happens at a specific phase of a the request lifecycle, i.e. before the handler is executed. The way `request.file()` works is to have the server receive the file _inside_ the handler execution, after validation was completed.

Maybe it's possible to perform it with the files stored on disk... wdyt @StarpTech?

[2020-11-01 07:53] #115 closed

[2020-11-01 07:53] #131 closed

[2020-11-10 13:00] vkurchatkin opened #185 "saveRequestFiles hangs for some fields"
##  🐛 Bug Report

I send a simple multipart request with just one file and consume them with  `req.saveRequestFiles()`. For some files it works, but for some other files never resolves. It seems that the code hangs here https://github.com/fastify/fastify-multipart/blob/5ca152453fc08a36f0ccd943af9f574db52526e7/index.js#L502 after successfully processing the file.

## To Reproduce

Steps to reproduc

[2020-11-10 13:24] vkurchatkin commented on #185
It seems to be related to how `pipeline` interacts with `busboy`. Sometimes it triggers `onEnd`, sometimes it doesn't. If instead of `pump` we just resume the stream, `onEnd` is always triggered

[2020-11-10 13:49] mcollina commented on #185
This looks _a lot_ like a bug in pipeline :( and node core. Let me also ping @ronag who worked on that lately.

Would you be able to start peeling the onion and get to a reproducible case _without_ the use of fastify or busboy?

[2020-11-10 18:33] ronag commented on #185
Which Node 14.x version?

[2020-11-10 22:01] vkurchatkin commented on #185
Here is the baseline repro (with fastify and fastify-multipart):

https://github.com/vkurchatkin/fastify-multipart-bug

I run it on Node 14.13.1

[2020-11-11 19:17] ronag commented on #185
@vkurchatkin and what should I see when I run this?

[2020-11-11 19:34] ronag commented on #185
@mcollina Why do you think this is a bug in pipeline?

@vkurchatkin Do you think you can find a repro using only busboy? I can't really see anything other than `onEnd` is not invoked for whatever reason. Busboy is implemented in a bit of a roundabout way so it's hard to follow what's happening.

[2020-11-11 19:38] ronag commented on #185
The problem is that busboy for some reason emits `'close'` before `'finish'`. Probably since it goes around the usual streams framework and emits `'finish'` manually.

[2020-11-11 19:43] ronag commented on #185
I think the problem here is that we changed `autoDestroy` default to `true`.

[2020-11-12 16:46] mcollina commented on #185
I think we can just workaround it in here by setting `._writableState.autoDestroy = false` if it is true.
@vkurchatkin could you make a PR to this repo?

[2020-11-19 13:24] climba03003 opened #188 "request stale when using with fastify-auth"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Run smoothly when I apply the ```fastify.auth([fastify.verifyJWTandMongoDB])``` preHandler

## Your Environment

- *node version*: 14
- *fastify version*: >=3.0.0
- *os*: Windows
- *any other relevant information*

[2020-11-19 13:56] climba03003 commented on #188
no idea if it is related to #185

[2020-11-24 13:24] #185 closed

[2020-11-25 17:21] victoradan commented on #185
Thank you for adding a fix for this. When is it planned to be released?

[2020-11-28 10:54] Eomm commented on #185
Released in 3.3.1 👍

[2020-11-28 11:07] Eomm commented on #188
I cant replicate with

[code]

I think the issue is here:

[code]

Because the `part.file` must be consumed (`part.file.pipe(process.stdout)`) otherwise the response will never be sent

[2020-11-29 09:56] climba03003 commented on #188
I will check if it is the issue with ```csvtojson```.
The main reason I though it is the problem between ```fastify-multipart``` and ```fastify-auth``` is that when I do not put the ```preHandler``` it work properly. The response didnt sent only when there are ```preHandler```.

[2020-11-29 10:16] Eomm commented on #188
Oh, clear: it seems harder to debug then.

I would focus on the `verifyJWTandMongoDB` then tho

[2020-12-02 20:08] cdnrg-rt opened #190 "Cannot read property 'getter' of null"
## 🐛 Bug Report

TypeError: Cannot read property 'getter' of null
 Updated to Fastify 3.9 and fastify-multipart 3.3.1
Two different servers both having the same error message

TypeError: Cannot read property 'getter' of null
    at checkReferenceType (/home/ryan/Code/fastify/node_modules/fastify/lib/decorate.js:39:45)
    at Object.decorateRequest (/home/ryan/Code/fastify/node_modules/fastify/lib/

[2020-12-02 20:32] mcollina commented on #190
It's a regression in fastify, we'll fix it in 3.9.1 shortly.

fastify/fastify#2718

[2020-12-02 20:34] #190 closed

[2020-12-02 20:38] cdnrg-rt commented on #190
Thanks for the quick response. Appreciate it.

[2020-12-08 07:21] climba03003 commented on #188
I have tried to remove ```csvtojson```, but the result is the same.
It seems that when I add the preHandler, the file stream will never be closed.
So, the route is stuck inside the for loop.

[2020-12-08 09:17] climba03003 commented on #188
I think I miss the important piece. It is the problem of ```verifyJWTandMongoDB```.

[code]

I dont know why awaiting the mongodb operation will cause the ```AsyncIterator``` can not emit ```{ value: undefined, done: true }``` when there are no field left.

[2020-12-08 09:25] Eomm commented on #188
I would try to switch to callback style in order to understand what is causing the issue.

Your code seems right to me too, I just assume that mongo dB has been set with the default database instead of selecting one

[2020-12-08 10:17] climba03003 commented on #188
I found the problem. It is just a stupid mistake. The order of plugin registration is not in the correct order. Although it is fine in the logging output, but it is not in the code execution.

Thanks for your help. I am closing this issue.

[2020-12-08 10:25] climba03003 commented on #188
When I switch back to callback style, it result the same.
No clue why it is happening.

The verification code work fine in other routes without the ```AsyncIterator```.

[2020-12-16 15:34] salmanm commented on #188
I can't reproduce it either, tried various things.

@climba03003 It'd be really helpful if you could
- Post a repo with minimal code that reproduces this issue.
- Post the exact POST request you're making to the `/import` endpoint.

[2020-12-17 05:39] climba03003 commented on #188
After I upgrade all the modules to latest version, the issue is solved.
Maybe some of the PR solve this problem.

I will close this issue, thank you for your help.

[2020-12-17 05:39] #188 closed

[2020-12-17 05:52] climba03003 commented on #188
@salmanm
If you still want to find out the root cause here is the [repo](https://github.com/climba03003/fastify-multipart-issue-188)
I have used exact version for the modules in order to simulate the issue.

Routes
/signin
username: username
password: password

/withoutHandler
/withHandler

this two route is used to test behavior between with or without the validation handler

[2020-12-19 12:25] StarpTech commented on #173
Sorry for the late response. I have no time to invest.

[2020-12-19 13:12] zekth commented on #173
No quite the same example but i made it work using this api spec:
https://github.com/keycap-archivist/app/blob/master/src/assets/v2-spec.yaml#L81-L99

using this configuration: https://github.com/keycap-archivist/app/blob/master/src/app.ts#L39

@xplodeart can you test those specs?

[2021-01-07 17:41] BlackGlory commented on #131
In the current version, both `req.raw.destroy()` and `Connection: close` cannot abort the connection, any updates?

[2021-01-14 06:12] vsnu1995 opened #194 "Truncated value inconsisteny"
## 🐛 Bug Report

Limiting filesize on req.file() truncates the file but data.file.truncated is set as false. Works fine when limit is 20000 and larger file is posted. But when limit is higher truncated is not setting to true, file gets truncated to the specified filesize.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
Error must be thrown for all files with size >

[2021-01-14 09:07] mcollina commented on #194
Can you please upload a _runnable_ example to reproduce?

Also, would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-01-14 09:53] vsnu1995 commented on #194
[code]

[2021-01-14 10:05] vsnu1995 commented on #194
Oh it seems like i missed the part of data.file promise not getting fulfilled till its consumed. Its working as expected when i consume.

[2021-01-14 10:05] #194 closed

[2021-01-17 09:20] ionutale opened #195 "the multipart data is being reinserted recursively for each property"
## 🐛 Bug Report

it looks like the body is being reinserted into the text field
<img width="699" alt="Schermata 2021-01-17 alle 10 12 09" src="https://user-images.githubusercontent.com/2562455/104836229-c523a980-58ac-11eb-9c49-68ebd882a2d5.png">

## To Reproduce

Steps to reproduce the behavior:
create a plugin with the code bellow:
[code]

## Expected behavior

[code]

## Your Environment

- *nod

[2021-01-17 10:50] mcollina commented on #195
Can you please provide a _runnable_ example, i.e. something we can `node bug.js` and see the failure?

[2021-01-17 14:17] StarpTech commented on #195
What's the issue here? It's correct that a field has a reference to all fields for easier access.

[2021-01-18 07:42] ionutale commented on #195
@StarpTech ok, so this is by design?
do i still have to provide a bug.js example?

[2021-01-18 09:31] StarpTech commented on #195
Yes, it's by design but we are open to improvements. @mcollina Maybe we should always use the `body` property when attaching data.

[2021-01-20 06:43] ionutale commented on #195
It would be nice to be able to opt-out of this, maybe with options object

[2021-01-20 07:30] ionutale commented on #195
Also it would be nice to opt-out of "field-type"
It would be nice to have `key:val` pair  instead of "field-type"

For me the name of the field is redundant, and the truccated flag, should be documented, and optional, but not intrusive.
I think you created the  "field-type" for security reasons, but if i use the validation, with "pattern" prop, i take care of the security

<img width="700" alt="Sc

[2021-01-20 09:24] StarpTech commented on #195
@ionutale I can't follow you. Again, what is the issue?

[2021-01-24 04:33] yofriadi opened #196 "fileSize limit on fastify-multipart did not throw error"
I don't know if I use it correctly or not but it is just pass through if I passing file with size higher than limit.

[code]

It write file to my directory, when I expect it to throw error

* *node version*: 14.15.3
* *fastify version*: 3.9.2
* *fastify multipart version*: 3.3.1
* *os*: WSL

[2021-01-25 07:57] mcollina commented on #196
Apparently in https://github.com/fastify/fastify-multipart/blob/master/test/multipart.test.js we are testing that we are _not_ throwing an error, but there is a `file.truncated` property instead.

@StarpTech wdyt?

[2021-01-25 10:58] StarpTech commented on #196
Yes, busboy marks a file with `truncated` when the file limit was reached. In my opinion, an error should be thrown but I can't remember why we didn't implement it. According to busboy the library will only emit a `limit` event on the `file` object.

[2021-01-25 11:08] mcollina commented on #196
I guess we should error this.

[2021-01-26 12:38] kamikazechaser commented on #196
I did notice this. In my case I am doing something like:

[code]

Unfortunately with this approach someone can upload a very large file (which in turns consumes a lot of memory). Such an error should be thrown at the earliest.

[2021-01-26 14:40] StarpTech commented on #196
That's not accurate. Busboy the underlying library will abort it.

[2021-01-27 06:59] kamikazechaser commented on #196
Oh thanks for the heads up!

[2021-02-01 14:42] climba03003 commented on #196
I just faced the same issue today and used an hour for debugging this issue until I check the `README.md`.

In order to handle the case properly, I think we should return status code 413 instead of throwing an error. The developer and the client which use the API can visualize the problem immediately when they see status code 413 (Payload Too Large).

[2021-02-01 15:21] mcollina commented on #196
@climba03003 how would you solve this?

[2021-02-01 16:02] climba03003 commented on #196
For now, throwing error is the simplest solution.
We can introduce an option `throwFileLimit` to enable throwing behavior and which the default is `false`.
If we manage to bump an major, change it to default `true`.

[2021-02-01 16:32] mcollina commented on #196
Could you send a PR? That seems reasonable. I'd actually consider this a bug and ship as a minor, with a flag to not throw.

[2021-02-10 12:32] yofriadi commented on #196
hi all, I just try the new version 4.0.0 but unfortunately the problem still exist when using `req.file`, `req.files` and `req.parts` but works when using `req.saveRequestFiles`.

can anyone confirm this, thank you

[2021-02-11 01:22] climba03003 commented on #196
Can you provide the code snippets? Have you tried a clean installation of `node_modules` as `yarn.lock` or `package-lock.json` will lock the version of package.

[2021-02-11 12:29] eKulshan commented on #196
He everyone, also tried 4.0.0 version and run into the same problem as @yofriadi.
**Fastify**
`export default () => {
  const app = fastify({
    logger: {
      prettyPrint: true,
    },
  });
  app.register(fastifyMultipart, {
    throwFileSizeLimit: true,
    limits: {
      files: 1,
      fileSize: 10000,
    },
  });
  addRoutes(app);

  return app;
};`

**Route**
`export default (app: Fasti

[2021-02-11 18:42] mcollina commented on #196
Given that the tests are passing, it would be good to have a self-runnable example that reproduces the problem.

[2021-02-21 00:57] PurwadiPw opened #200 "Zero bytes file saved with attachFieldsToBody options"
## 🐛 Bug Report

My file saved was zero bites when i use the `attachFieldsToBody: true` options.
![image](https://user-images.githubusercontent.com/12653916/108612178-9d2de580-7418-11eb-941d-d921b918335a.png)

in this case file limit the limit file is also not working properly. It takes 2 minutes for a file size of 90MB to display the message and a message `request file too large, please check mul

[2021-02-21 10:23] StarpTech commented on #196
I think I found the issue. It's a race condition between the first emitted file and error. `await file()` returns the file immediately but the error is thrown asynchronously and at that moment the consumers won't consume the second event because they expect a single file. We have to ensure internally that all [events](https://github.com/fastify/fastify-multipart/blob/master/index.js#L297) are cons

[2021-02-21 12:10] StarpTech commented on #196
I think the current behavior is correct because we can only guarantee error handling when we iterate over the entire multipart stream until `onEnd` is called. In all other cases, the user has to subscribe to `file.on("limit")`. From DX API perspective `req.file` is error prone because it will never report the final error.

I couldn't reproduce it. It is only valid for `req.file`. Please provide a

[2021-02-22 08:58] mcollina commented on #200
Can you please include a runnable example and script to reproduce this behavior? It's hard to help/diagnose these problems otherwise.

[2021-02-26 03:53] PurwadiPw commented on #200
working on it

[2021-02-28 05:52] dancoates opened #201 "Typescript definition for onFile is incorrect when `attachFieldsToBody` is true"
## 🐛 Bug Report

The definition for the onFile option specifies that it is passed multiple params:

[code]
https://github.com/fastify/fastify-multipart/blob/master/index.d.ts#L103

But when the `attachFieldsToBody` is set to true `onFile` is called with a single parameter:

https://github.com/fastify/fastify-multipart/blob/master/index.js#L143

## Expected behavior
There should either be a differe

[2021-02-28 10:18] mcollina commented on #201
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-02-28 10:22] dancoates commented on #201
I'd be happy to, but not sure what direction you'd like to go in. I think the cleanest solution would be to update the code so that `onFile` is always called with the same params but that would be a breaking change.

[2021-02-28 11:09] mcollina commented on #201
I think updating the types is the simplest option.

[2021-03-05 15:20] simoneb opened #202 "increase code coverage"
as titled

[2021-03-09 16:46] brainrepo commented on #196
I tried to propose a feat that can help to manage the case above. Can I have some feedback about the approach?

[2021-03-11 11:33] #196 closed

[2021-03-15 10:32] mcollina commented on #202
This is not finished:

[code]

[2021-03-20 21:02] philosofonusus commented on #200
Same problem

[2021-03-20 21:03] philosofonusus commented on #200
`
  async upload(product: uploadProductDto) {
    try{
    console.log(product)
    const episodesFileNames = []
    const coverFileName = `${product.title.value}-${Math.floor(Math.random() * 1000)}${'.' + product.cover.filename.split('.')[1]}`
    await pipeline(product.cover.file, fs.createWriteStream(path.join(hentaiFolder,'covers', coverFileName)))
    await tinify.fromFile(path.join(productFo

[2021-03-20 21:05] philosofonusus commented on #200
upload method:
[code]
Same problem with attachFieldsToBody

[2021-03-20 22:38] Eomm commented on #200
Could this be related to the default [1MB body limit](https://www.fastify.io/docs/latest/Server/#bodylimit)?

[2021-03-20 22:47] philosofonusus commented on #200
I have just tried to change limit and it still doesn't work

[2021-03-20 22:52] philosofonusus commented on #200
[code]
console.log of the body
You can see that there is data

[2021-03-23 11:35] simoneb commented on #200
Here's a repro of the issue. Reading the stream won't work, using `toBuffer` works.

The reason can be found in [these lines of code](https://github.com/fastify/fastify-multipart/blob/772fdf901b980efd116ce3dc8c3b6651fd2a6099/index.js#L142-L146). The file stream is read with `toBuffer` when the request is received, meaning that the stream won't be readable anymore in the handler because it's alread

[2021-04-18 02:42] ddadaal opened #221 "Wrong types of custom errors"
## 🐛 Bug Report

Using `instanceof` to check if an error is a custom error of this library (such as `RequestFileTooLargeError`) results in a type error.

[code]
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

No type error.

## Fix

The types of the custom errors should be `FastifyErrorConstructor` instead of `FastifyError`, for they are not error instances

[2021-04-20 01:11] #221 closed

[2021-04-21 10:19] #201 closed

[2021-04-21 12:29] yaneony opened #225 "Recursive field attachements?!"
I wonder why circular fields attachement is being done? If you submit form, you will notice that each field has instance of "fields" which are recursive...

https://github.com/fastify/fastify-multipart/blob/master/index.js#L367
https://github.com/fastify/fastify-multipart/blob/master/index.js#L400

Any point for doing that? That only do increase memory consumption...

[2021-04-22 08:49] climba03003 commented on #225
As mention in https://github.com/fastify/fastify-multipart/issues/195 is the be design behavior.

[2021-04-27 08:36] cstrnt commented on #162
Just stumbled upon this issue while using this plugin. Any chance we could add docs for that?

[2021-04-27 08:44] StarpTech commented on #162
Definitly. We could create a section called "Typescript usage" and link it to https://github.com/fastify/fastify-multipart/blob/master/test/index.test-d.ts

[2021-05-11 13:25] HoaX7 opened #230 "Not able to get multiple files"
Im not able to upload multiple files, req.files() just says its an Empty async object.

here's my code,

i'll just post the snippets

// app.js
require fastify and stuff

fastify.register(require("fastify-multipart"))

register routes as well
listen to port

// routes and the func im trying to access the files
fastify.post("/uploads", async (req, res) => {
    await req.files() // blank
    await

[2021-05-11 15:11] #230 closed

[2021-05-13 12:00] alex-outsourci opened #232 "NodeJS 16 support"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

16.1.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

"saveRequestFiles()" never returns on NodeJS 16.1, but it works great on NodeJS 1

[2021-05-13 12:15] mcollina commented on #232
Would you like to send a Pull Request to address this issue?

[2021-05-17 16:01] simoneb commented on #232
I started looking into this issue in https://github.com/fastify/fastify-multipart/pull/235. I haven't found a solution yet but I narrowed down the point where it happens. It seems to be somewhat related to the `highWaterMark` setting of the write stream created to save files to the file system. Increasing the value of that setting to something larger than the size of the files uploaded in the test

[2021-05-17 16:03] simoneb commented on #232
The boundary value causing the issue seems to be 16k (the default value for `highWaterMark` in streams).

This is the (non) repro, showing that using plain Node.js without this plugin and all the third party code involved the issue doesn't happen:

[code]

[2021-05-18 10:59] simoneb commented on #232
Quick update. I tried a more complete repro which involves Busboy as well but still can't reproduce. This suggests that the problem is probably somewhere in the plugin code. I suspect the async iterators we use to loop through the files.

[2021-05-19 07:57] #232 closed

[2021-05-27 08:36] RomaricMourgues opened #238 "After 4.0.4: '"fastify-error"' has no exported member 'FastifyErrorConstructor'"
## 💥 Regression Report

Hi, it seems this PR break after v4.0.3: https://github.com/fastify/fastify-multipart/pull/222 .

Error:

[code]

## Last working version

Worked up to version: 4.0.3

Stopped working in version: 4.0.4

## To Reproduce

Just npm install and try to use the library.

## Your Environment

- *node version*: 12
- *fastify version*: 3.9.2
- *os*: Mac, Linux

[2021-05-27 08:52] mcollina commented on #238
What version of fastify-error are you using?

cc @fastify/typescript

[2021-05-27 09:06] RomaricMourgues commented on #238
Looking at the package-lock.json:
- node_modules/fastify-error: 0.2.0
- node_modules/fastify-multipart/node_modules/fastify-error: 0.3.1

It seems to be an error with my npm, fastify-multipart require fastify-error >=0.3.0 and fastify require fastify-error >=0.2.0. At the end 0.2.0 is installed instead of 0.3.1.
On a clean install with just  `"@types/busboy": "^0.2.3", "fastify": "^3.9.2", "fastif

[2021-05-27 09:06] #238 closed

[2021-06-01 03:35] 58bits opened #241 "Minor Error in Limits Example"
There is a minor error in the documentation for setting fastify-multipart limits

[code]
I believe in the example above `fieldSize` and `fileSize` values are reversed? And that it should be...

[code]

[2021-06-01 04:12] quydox commented on #120
Hello, there is one more error

# POST
ids[]=10
ids[]=11

expected
ids: [10, 11]

currently
ids[]: [10, 11]

Can you remove '[]' on body key?

I try to remove '[]' on your installed module, it works
[code]

Thanks

[2021-06-01 06:55] climba03003 commented on #241
This number is not default value and it do not affect your code. And yes, it is better to have a greater value for file size limit.

Can you send a PR to enhance the document?

[2021-06-01 07:09] 58bits commented on #241
PR submitted!

[2021-06-01 07:09] #241 closed

[2021-06-01 08:39] Eomm opened #244 "parse field name to manage array style parameter"
Hello, there is one more error

# POST
ids[]=10
ids[]=11

expected
ids: [10, 11]

currently
ids[]: [10, 11]

Can you remove '[]' on body key?

I try to remove '[]' on your installed module, it works
[code]

Thanks

_Originally posted by @quydox in https://github.com/fastify/fastify-multipart/issues/120#issuecomment-851791002_

[2021-06-22 07:39] leoShabalkin opened #246 "Error while registering plugin in fastify"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.0

### Plugin version

4.0.6

### Node.js version

12.19

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

When registering a plugin ` fastify.register(fastifyMultipart)

[2021-06-22 10:22] climba03003 commented on #246
It should be the problem of `@nestjs/platform-fastify`, it have its own `typings` for `fastify` which may not be compatible between version.

I would assume don't override the `fastify` package version for `@nestjs/platform-fastify` as it is required for exact version `3.14.0`.

[2021-06-22 10:29] #246 closed

[2021-06-29 10:31] kibertoad opened #247 "NodeJS.ReadableStream used over Readable"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.x.x

### Plugin version

4.0.6

### Node.js version

16.3.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

According to https://nodejs.org/api/stream.html#stream_readable

[2021-06-29 12:14] climba03003 commented on #247
I think it should be identical to `busboy` typing as we are using `busboy` underlay.
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/busboy/index.d.ts#L41

[2021-06-29 13:22] mcollina commented on #247
I think this is only a TS problem.

[2021-06-29 13:49] kibertoad commented on #247
I will open a PR both for busBoy types and here then, because yes, in reality we do get a Readable.

[2021-06-29 14:04] #247 closed

[2021-06-30 11:41] abcfy2 commented on #196
I met the same error. I use the latest version `4.0.7`, but still happened.

[code]

When I try to upload a very large file like:

[code]

It's success without any exception. But the uploaded file is only 40 MB, what happened?

[2021-07-01 11:56] abcfy2 opened #250 "limits.fileSize not working when greater than a specified value"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.8.1

### Plugin version

4.0.7

### Node.js version

14.17.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Manjaro 21

### Description

When fileSize is greater than a specified value, it will

[2021-07-01 11:56] abcfy2 commented on #196
OK. I find the issue: https://github.com/fastify/fastify-multipart/issues/250

[2021-07-01 13:00] mcollina commented on #250
Thanks for reporting! This looks like a bug. Would you like to send a PR with a fix?

[2021-07-01 13:15] abcfy2 commented on #250
I'm not very familiar with busboy, but I will give a try.

[2021-07-01 13:20] abcfy2 commented on #250
Seems that when `fileSize` is large, the `file.truncated` is `false` first.

[code]

Output:

[code]

[2021-07-01 13:37] abcfy2 opened #251 "Typescript data.fields returns wrong type."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.8.1

### Plugin version

4.0.7

### Node.js version

14.17.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Manjaro 21

### Description

Seems that the type define of `fields` is not correct.

[2021-07-01 22:34] mcollina commented on #251
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-07-02 02:09] abcfy2 commented on #251
OK. If I have enough time, I will give a try.

[2021-07-02 02:31] climba03003 commented on #251
Typescript have no way to know which is the suitable type for fields as it is mixed with both `file` and `field`.

One of the usage is type augmentation if you have only single endpoint for file handling.
[code]

[2021-07-02 03:32] abcfy2 opened #252 "other fields lost when upload a large file"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.8.1

### Plugin version

4.0.7

### Node.js version

14.17.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Manjaro 21

### Description

When upload a large file. the fields will be lost.

###

[2021-07-02 09:36] mcollina commented on #252
Can you provide steps to reproduce? We need a full, runnable example.

[2021-07-02 09:51] abcfy2 commented on #252
Here is the sample `index.js`:

[code]

We also create two files, one is small, another is big:

[code]

When we upload `SMALL_FILE`, it's OK:

[code]

console output:

[code]

But when we upload `BIG_FILE`:

[code]

console output is:

[code]

[2021-07-03 08:47] mcollina commented on #252
@StarpTech could you take a look?

[2021-07-06 17:23] FelipeCorerato opened #255 "Can't read an array of files with also string fields"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.0

### Plugin version

4.0.5

### Node.js version

14.15.3

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.2

### Description

I'm trying to create an API that receives an array

[2021-07-07 08:02] StarpTech commented on #255
Duplicate of https://github.com/fastify/fastify-multipart/issues/146#issuecomment-681874488

[2021-07-10 07:45] veritem opened #256 "limits.fileSize when set global fileSize doesn't get limited"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.0.0

### Plugin version

4.0.5

### Node.js version

14.17.3

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

I'm setting up the plugin to limit to file size of 2 MB, it d

[2021-07-10 09:34] mcollina commented on #256
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-07-10 13:56] climba03003 commented on #256
I think it should be the problem of typo?

Your screenshot is `fieldSize` which will not and should not limit the file size.

[2021-07-10 15:33] veritem commented on #256
sorry, I tried a bunch of stuffs which didn't work screenshot fixed

[2021-07-12 19:48] lucasbittencurt commented on #252
Hi @abcfy2, I did some tests and multipart service did not lose the fields, in your example code the console.log is before an asynchronous call is handled the service is still processing the fields. Because the service handle first the file and then the fields.

I did a test with your code putting console.log after await pump and the fields are there.

[code]

[2021-07-13 01:57] abcfy2 commented on #252
Oh thanks. And I find another bug. If we do not call `await pump`, this will be hang forever:

[code]

[code]

I think this should be mentioned in document.

[2021-07-13 05:02] climba03003 commented on #252
@abcfy2 It is not bug, the readable stream must be consumed before all other action. It is waiting for your action, so it's like hanging there.

[2021-07-13 13:12] lucasbittencurt commented on #252
@mcollina I believe this issue is not a bug and can be closed, what you thing about that?
Do you think the documentation needs improvement for understanding stream usage?

[2021-07-13 13:20] #252 closed

[2021-07-27 13:16] leorossi commented on #250
@abcfy2 I am working on this and found this interesting thing.

I am using a 4Mb file to test using your code and `curl` command.

- while `limits.fileSize <= 65378` the code  returns correctly a `FST_REQ_FILE_TOO_LARGE`
- when `limits.fileSize > 65378` the error is not thrown and `pump(..)` writes a file with the same size as the `fileSize` option (likes it saves the first chunk emitted by busboy

[2021-07-27 14:44] leorossi commented on #250
After some more research `65378` is `65536` (first chunk read) - 157  (the bytes needed for the multipart preamble).

So basically when we have more than 1 chunk the error is not thrown

[2021-07-28 14:29] leorossi commented on #250
So here's my conclusions on this: the library work as expected but maybe docs should be slightly more clear on this.

[code]
this line does _NOT_ guarantee that the file has been completely written on disk. In fact, after this line you should check `data.file.truncated`, if it's `false` then all the file has been streamed, otherwise the limit has been reached.

[code]

Alternatively you can also u

[2021-07-28 15:07] leorossi opened #258 "Error not thrown when `limits.fileSize` is reached"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.2

### Plugin version

4.0.7

### Node.js version

14.14.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.17

### Description

The documentation says that

But this does not happen

##

[2021-07-28 15:11] leorossi commented on #258
Closing as duplicate of #196 , sorry!

[2021-07-28 15:11] #258 closed

[2021-07-28 15:48] mcollina commented on #250
I have a feeling we should be destroying the stream with an error if the file is truncated. Maybe behind an option?

[2021-08-02 08:53] simoneb commented on #256
@veritem can you please check if the updated docs at https://github.com/fastify/fastify-multipart/pull/259 clarify the way this is intended to work?

[2021-08-02 08:53] simoneb commented on #250
@abcfy2 can you please check if the updated docs at https://github.com/fastify/fastify-multipart/pull/259 clarify the way this is intended to work?

[2021-08-02 08:53] #250 closed

[2021-08-02 08:53] #256 closed

[2021-08-09 21:03] rhadamez opened #263 "File size limit still not working"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.20.1

### Plugin version

4.0.7

### Node.js version

16.5.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

Hey,

The option of "fileSize" limit is not being resp

[2021-08-10 08:20] Eomm commented on #263
I have added some code comments to explain what is happening:

[code]

I have arranged a PR to ease this check calling `await file.file.toBuffer()`, but the keep away is: consume the stream or the `fileSize` check won't execute

[2021-08-10 11:05] #263 closed

[2021-09-01 07:27] isgj opened #266 "Cannot parse body if no file is sent"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.20.2

### Plugin version

_No response_

### Node.js version

14, 16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

If I send a multipart request only with simple

[2021-09-01 07:51] climba03003 commented on #266
Please use `request.parts` for the fields data. Remember, it is a `AsyncIterator`.
[code]

[2021-09-01 08:52] isgj commented on #266
Thank you

[2021-09-01 08:52] #266 closed

[2021-09-14 07:51] frapan commented on #200
I faced the same issue and proved that @simoneb was right.

As the documentation states, if you assign all fields to the body and don't define an `onFile` handler, the file content will be accumulated in memory. Therefore, the stream is empty because it has already been read, causing a zero bytes file.

The only way to access the file content is through the `toBuffer` method or by defining a custo

[2021-09-14 08:15] mcollina commented on #200
Awesome, thanks!

[2021-09-14 08:35] #200 closed

[2021-09-19 10:32] Javarome commented on #173
@zekth what about a dynamic example? Unfortunately `requestBody` doesn't seem to be allowed when setting a inline schema in app.ts (not an external file like you do).

[2021-09-19 16:13] zekth commented on #173
`requestBody` is an OpenAPI naming, which is mapped in `body` in fastify schemas. I can try to put a dynamic example up when i'll have time.

[2021-09-21 09:21] sanzhardanybayev opened #272 "Typescript issue - Property 'truncated' does not exist on type 'Readable'"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Whenever I try to access **truncated** property I get the following TS error - **Property 'truncated' does not exist on type 'Readable'.**

Here is the example:
[code]

[2021-09-21 09:47] mcollina commented on #272
Can you please include a full example to reproduce?

[2021-09-21 13:29] sanzhardanybayev commented on #272
@mcollina yeah, sure.
I'm using NestJS under the hood.

Here's controller's code :
[code]

[2021-09-21 14:07] mcollina commented on #272
Could you create an example just using a self-runnable Fastify instance? Thanks

[2021-09-21 14:41] sanzhardanybayev commented on #272
@mcollina Here's the repo - https://github.com/sanzhardanybayev/nestjs-fastify-file-upload

Just run `yarn && yarn start:dev` after cloning.

The issue is the the following path - `./src/request/request.controller.ts`

[2021-09-21 14:53] mcollina commented on #272
I might not have been clear: could you create a runnable example that does **not** have any other dependencies minus fastify and fastify-multipart?

[2021-09-21 15:12] sanzhardanybayev commented on #272
@mcollina My bad! Well , I created and empty project with just **fastify** and **fastify-multipart** installed. Funny thing that this TS issue isn't shown anymore.  I guess this might be **nestjs** related issue.

[2021-09-21 15:18] #272 closed

[2021-09-21 18:22] sanzhardanybayev commented on #272
For those who might get the same issue, here's the workaround :

[code]

What I basically did is created a custom type which extended **Readable** class  and used **type assertion**.

I tried do it it with **augmenting module via .d.ts files**, but it didn't work.

[2021-09-22 03:31] sanzhardanybayev commented on #251
I have sort of the same issue. But redeclaration specifically for the **file** property doesn't work. TS keep reading module's typings.

The only was using **type casting** as you suggested.

[2021-09-29 16:52] mccare opened #274 "Node 14.18 with http2: Uploading of files produces exception in deepmerge"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.21.6

### Plugin version

5.0.1

### Node.js version

14.18

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

cloud

### Description

Since node 14.18 I get an exception when uploading a file

[2021-09-29 17:06] mcollina commented on #274
Would you like to send a PR to fix this? This looks some bug you are the best equipped to fix.

[2021-09-30 00:32] climba03003 commented on #274
It is more like a bug due to `prototype` of `object` is polluted.
or the option created by `Object.create(null)`.

[2021-09-30 06:07] mccare commented on #274
So narrowed it down a bit. With http2 on, neither the `request.headers` nor `request.raw.headers` have the `propertyIsEnumerable` function defined. In dev mode both objects have this function. This function is then missing and needed by deepmerge.

[2021-09-30 06:13] climba03003 commented on #274
This method is extends from `object` prototype. I can't find out where it is missing, even `Object.create(null)` can run without problem.

https://github.com/fastify/fastify/blob/4b389207765ac2c746725041dca0043b9c2aaf01/lib/request.js#L176-L179

I am thinking if it is the problem of node core.

[2021-09-30 06:22] mccare commented on #274
Agreed, will try to reproduce it with a sample node server then.

[2021-09-30 08:07] climba03003 commented on #274
@mccare I have check the code and document, it is intentional behavior.

https://github.com/nodejs/node/issues/40263#issuecomment-930954552
https://nodejs.org/api/http2.html#http2_headers_object

We may need a ugly fix on our side or `deepmerge` side.

[code]

in [L226](https://github.com/fastify/fastify-multipart/blob/master/index.js#L226) and [L318-L322](https://github.com/fastify/fastify-multip

[2021-09-30 15:46] mccare commented on #274
Thanks @climba03003 , I've implemented your suggestion and created a PR. Don't really know how to write a test for it though.

[2021-09-30 16:30] radomird opened #276 "Update README with relevant information from callback.md file"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi,
I would like to propose a suggestion. In the Readme file there is some missing information regarding schema validation that is **_still relevant in the new API_** (and I think it should be there as it is very useful).

The missing i

[2021-10-01 07:08] radomird commented on #276
That part is really clear, but the information that I quoted from callback.md file is actually missing from the readme.

[2021-10-01 08:03] radomird opened #277 "Improve docs: add more details for JSON schema validation"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

When validating non-file fields in the body and **NOT** using the shared schema, according to the plugin documentation, we can validate the fields by using the following syntax:
[code]

However one would expect that for the non-file fie

[2021-10-01 09:04] radomird opened #278 "Add support for JSON objects for the non-file fields"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Currently the plugin doesn't support complex JSON objects as non-file field values. It could be an interesting addition to the plugin.

### Motivation

A user opened an issue where he is trying to send a JSON object th

[2021-10-01 16:50] mcollina commented on #277
Would you like to send a PR?

[2021-10-01 16:51] mcollina commented on #276
Would you like to send a PR?

[2021-10-03 13:52] mahendraHegde opened #279 "data.fields not detecting non-file fields"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.0

### Plugin version

5.0.1

### Node.js version

v14.17.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Big Sur 11.5.2(M1 chip)

### Description

here's what i'm posting from postman

[2021-10-04 01:08] climba03003 commented on #279
Duplicate of #146

Please see this comment https://github.com/fastify/fastify-multipart/issues/146#issuecomment-681874488

[2021-10-04 01:08] #279 closed

[2021-10-04 08:23] radomird commented on #277
@mcollina Sure, will do that.

[2021-10-04 08:23] radomird commented on #276
@mcollina Sure, will do that.

[2021-10-04 14:24] #276 closed

[2021-10-04 14:24] #277 closed

[2021-10-08 12:35] mccare commented on #274
Fixed with release 5.0.2

[2021-10-08 12:35] #274 closed

[2021-10-31 16:44] climba03003 opened #289 "migrate out of deprecated API."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.x.x

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

Migrate out of deprecated API.

https://github.com/

[2021-11-01 16:00] #278 closed

[2021-11-13 19:14] Zhongy1 commented on #272
I ran into the same problem. Diving into the type definitions, I found that the Readable class doesn't have a "truncated" property defined, which is resulting in this type issue. For a cleaner work around, I used this:
[code]
This will allow you to use the truncated property without needing to do type assertions.
Be aware that this exposes the truncated property on all Readable objects imported fr

[2021-11-14 23:39] cyantree opened #292 "Automatic decoding of JSON fields doesn't work well with browser requests"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

5.1.0

### Node.js version

16.3.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

20H2

### Description

`fastify-multipart` uses `busboy` for multipart parsing

[2021-11-14 23:50] cyantree commented on #292
I've opened the following `busboy` issues:
https://github.com/mscdex/busboy/issues/258

[2021-11-17 17:15] radomird commented on #292
Hi @cyantree - I was trying to reproduce your use case. If you look closely to the documentation you'll see that the way you are trying to get the contents of the body is wrong.

I wrote a simple example on how you should access the field(s) (`json` field in your case):
[code]
Since all the fields are considered "files" you have to read them as such, in your server.

I hope this helps.

[2021-11-18 20:34] cyantree commented on #292
Hi @radomird,
thanks for taking the time analyzing my problem and crafting some example. 👍
The approach you're suggesting is correct, thanks for that. However it's not what I wanted.
- In your case the JSON field is handled as file but I specifically want it to be a non-file field.
- In your case the data needs to be parsed and validated manually but I want to facilitate the functionality provided

[2021-11-19 10:33] Eomm commented on #292
Could @cyantree explain why you need to use the `Blob` object instead of the string?

[code]

I don't think busboy will accept the request because the [`Blob`](https://devdocs.io/dom/blob) object maps files

[2021-11-19 21:52] cyantree commented on #292
Hi @Eomm,
thanks for your response.

My use case is a browser upload form which also passes some additional data. I want to use the functionality provided by this package for file and data validation.

I'm using a Blob because this allows me setting the `Content-Type` which is required to use JSON parsing and validation as described in https://github.com/fastify/fastify-multipart#json-non-file-fie

[2021-11-24 16:16] radomird commented on #292
@cyantree After looking into this issue once more, the conclusion is that the workaround that you posted earlier is great, if it solves your problem then I think we are good.

Despite the issue with `busboy`, I've tried to come up with a workaround solution - just to see if we could do an easy detection and handle the json form data like a field - but there is no easy solution here, unfortunately,

[2021-11-25 02:30] Uzlopak opened #297 "BusBoy replacement?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

We should consider replacing busboy. It is actually quite buggy and has security issues. @mscdex does not really merge PRs, which would fix various bugs.

e.g.
https://github.com/mscdex/dicer/pull/25
https://github.com/mscdex/dicer/pull

[2021-11-25 03:15] climba03003 commented on #297
An replacement means it should be able to provide 1:1 feature compatibility.
1. stream handling for files - it should be the core of this module
2. faster parsing for multipart? maybe

[2021-11-25 05:12] Uzlopak commented on #297
yes, I would also prefer a drop-in replacement

As far as i can see there are following streams to be potentially reimplemented:

StreamSearch
https://github.com/mscdex/streamsearch

HeaderParser
PartParser
Dicer
https://github.com/mscdex/dicer

Decoder (?)
UrlEncoded(?)
Multipart(?) + FileStream
BusBoy
https://github.com/mscdex/busboy

To solve this I would do a top to bottom approach. This means

[2021-11-25 08:04] mcollina commented on #292
An alternative idea is to remove the automatic decoding of JSON fields because we can't support it.

I don't think there is a brtter alternative than busboy.

[2021-11-25 08:14] mcollina commented on #297
Multipart is a complex spec, however it can be reimplemented.
Those libraries are complex and written in an early node era.

If you'd like to improve parsing speed, I think the only way is to move it to wasm.

[2021-11-25 09:34] StarpTech commented on #297
This reminds me to https://github.com/nodejs/node/issues/38943

[2021-11-25 10:23] mcollina commented on #297
Totally

[2021-11-25 13:18] Uzlopak commented on #297
Actually it is not about performance, but about using the "new" nodejs streams and making it more resilient against malicious payloads.

Is there any interest in such a refactoring/reimplementation?

I would not invest time into this, if it will be denied because e.g. it is considered not worth it in the first place.

[2021-11-25 16:51] mcollina commented on #297
I would _not_ land an implementation that is slower than busboy.

[2021-11-25 17:17] Uzlopak commented on #297
Do you expect that a streams implementation would be slower?

[2021-11-26 10:22] Uzlopak commented on #297
Do we have some benchmarks regarding Busboy?

[2021-11-26 15:12] mcollina commented on #297
I expect a `stream.Readable` / `stream.Writable` to be slower.

https://github.com/mscdex/dicer/tree/master/bench

[2021-11-26 22:07] cyantree commented on #292
Thanks @radomird and @mcollina for your time.

@radomird
The workaround I posted earlier has one drawback. It doesn't check for max field size as would do the native approach. So I would need to copy/paste this too. However that's not a huge issue. So yeah, I think I'll go with the workaround for now.

@mcollina
Removing the feature depends on the use cases you want to support. As seen in the exam

[2021-11-26 22:43] kibertoad commented on #292
@mcollina Why not fork busboy to fastify org and do fixes there? Isn't that the route we've taken in the pst?

[2021-11-27 05:04] climba03003 commented on #292
`formidable` isn't an option in my opinion, the stream support is the core of this lib. I do not see any other lib which provide stream support for multipart parsing atm.

[2021-11-27 08:34] mcollina commented on #292
I propose we revert https://github.com/fastify/fastify-multipart/pull/288 as it was a recent addition.

This feature was asked recently I think it requires too much work to support.

(I'm ok in forking, but I think it's a stretch here.)

[2021-11-27 09:04] kibertoad commented on #292
@mcollina Considering that busboy is pretty much unsupported right now, wouldn't that make sense long-term? And it would allow fixing this particular issue properly.

[2021-11-27 09:20] mcollina commented on #292
I'm ok if somebody else would help but I have no bandwidth atm.

[2021-11-27 09:27] kibertoad commented on #292
I can do this.
@cyantree Could you lend a hand with implementing needing changes inside a fork after I create it?

[2021-11-27 12:34] kibertoad commented on #292
@mcollina I've created https://github.com/fastify/busboy and will work over weekend to update it a bit and merge whatever outstanding PRs make sense. After first forked version is ready to go, I'll open PR in fastify-multipart to do the switch.
Will also evaluate how difficult https://github.com/mscdex/busboy/issues/258 will be to address, any PRs from anyone doing that would be most welcome.

[2021-11-27 13:52] cyantree commented on #292
@kibertoad Yep, sure. Thanks!
Which approach do you think is better?

1. Handling parts with empty filename as non-file field. I think this is the most straightforward option. It might be seen as a breaking change as it changes some behaviour and I'm not sure whether a file might have no name at all. (But I doubt it can). So in my opinion the risk of breaking anything is fairly small.
2. Add a con

[2021-11-27 13:59] kibertoad commented on #292
@cyantree Let's continue discussing in fastify/busboy repo (probably we need to create a new issue there), but I would go with approach 1 - I don't think we need to maintain backwards compatibility in this case, I would treat first release of fastify/busboy as a breaking change either way.
I'll work on moving tests over to mocha now, so feel free to use mocha for writing new tests.

[2021-11-27 14:22] kibertoad commented on #297
@Uzlopak We've ended up forking busboy: https://github.com/fastify/busboy
If there are known existing issues with the old version of it, we would be more than grateful if you could help with fixing them!

[2021-11-27 14:31] Uzlopak commented on #297
@kibertoad
Oha. That was unexpected. Man I love this hands-on community.

I am Currently shopping with my wife, but if I am at home I would participate.

You should integrate npm package Dicer into the forked busboy to fix the crashing issue. Yesterday I tested the example mentioned in the Dicer GitHub issue/pr and could crash some public nodejs services.

[2021-11-27 14:38] kibertoad commented on #297
@Uzlopak I'm open to that. Could you do a PR?

[2021-11-27 14:39] Uzlopak commented on #297
Will do

[2021-11-27 14:42] kibertoad commented on #297
@Uzlopak Note that it would be preferable to first integrate it as-is, and then do a fix PR separately, with benchmark results before and after the change, since it is a performance-sensitive part of the code, so we have to tread carefully.

[2021-11-27 14:52] Uzlopak commented on #297
Could you add the benchmarks please?
I was kind of lost when I tried this on my local fork

[2021-11-27 14:52] Uzlopak commented on #297
Could you add the benchmarks please?
I was kind of lost when I tried this on my local fork

[2021-11-27 14:57] kibertoad commented on #297
Sure, I'll embed dicer with benchmarks now.

[2021-11-27 15:17] kibertoad commented on #297
@Uzlopak Benchmarks were broken, fixed them. Finalizing the PR now, there is some weird brokenage: https://github.com/fastify/busboy/pull/14

I have a date in like 40 mins, so if I can't fix by then, will have to return to it later in the evening.

[2021-11-27 15:46] kibertoad commented on #297
@Uzlopak I've landed the change, feel free to proceed. Oh, and please use mocha to write new tests. Already moved part of busboy tests to it, but didn't yet do the same for dicer.

[2021-11-28 21:07] i-coderdev opened #298 "If I send file using form-data, then file automatically saved in storage, I want to call onFile only for specific route not for all by mistake file form-data."
### Prerequisites

- [x] I have written a descriptive issue title
- [x] I have searched existing issues to ensure the issue has not already been raised

### Issue

_No response_

[2021-12-04 16:33] Uzlopak commented on #297
I have to say: It was an exhausting week but we did I think a pretty good job on refactoring busboy and fixing the security issues.

I thank you @kibertoad  for the good team work. I was always looking for the github notifications and was happy, when I saw that you made remarks or approved a PR.

Looking forward for the impact when other projects also pick up our fork for better security and bette

[2021-12-04 16:44] mcollina commented on #297
Could we get a PR to update the reference to our new module here?

[2021-12-04 20:18] kibertoad commented on #297
@Uzlopak Working side by side with you was a great honour and an utter joy, and if you ever feel like joining fastify plugin team, I would be more than happy to +1 you on that.

@mcollina That's the plan. I'll do a bit of testing with draft PR tonight, then wrap up remaining repo housekeeping, then it's 1.0.0 release, then there will be a final PR for the fastify-multipart transition.

[2021-12-04 20:44] kibertoad commented on #297
@mcollina Should it be a semver minor or major, btw? Considering that fastify-multipart was Node 10 already, I don't think there are any breaking changes that we are aware of, but I guess there is always a possibility that we introduced some unintentionally.

[2021-12-04 20:53] mcollina commented on #297
Go for minor.

[2021-12-04 21:52] kibertoad commented on #292
After https://github.com/fastify/fastify-multipart/pull/300 lands, we should revisit this issue and check if fastify-multipart exposes enough of busboy configuration to make use of new isPartFile config option, or if some extra changes would be needed.

[2021-12-05 03:01] #297 closed

[2021-12-05 03:02] kibertoad commented on #292
@cyantree Can you check if this is possible on latest master without any additional changes to fastify-multipart?

[2021-12-05 22:19] cyantree commented on #292
@kibertoad
For Non-TS it works without any changes.
For my usecase I just needed to add
[code]

However with TS it doesn't work without fixing the types as `isPartAFile` currently isn't known.

[2021-12-05 22:21] kibertoad commented on #292
@cyantree Don't we just proxy BusboyConfig types in fastify-multipart? which part misses the type?

[2021-12-06 01:32] Uzlopak commented on #292
I tested it and I see isPartAFile?!
![Screenshot from 2021-12-06 02-31-11](https://user-images.githubusercontent.com/5059100/144773497-0016a2aa-b8d8-4294-8f7d-4540186bd594.png)

[2021-12-06 12:05] cyantree commented on #292
I'm using it like this:
[code]

In my installed version `BusboyConfig` is only passed to various methods in `FastifyRequest` but not to the constructor signature:
[code]

I've installed it in `package.json` like this: `"fastify-multipart": "fastify/fastify-multipart#master",`

I can confirm that it works within a handler like this:
[code]

However here I'm expected to provide `headers` too which I

[2021-12-06 12:12] kibertoad commented on #292
I'll check if having a subset of busboy config is ok there.

[2021-12-08 11:21] tc-root-user opened #304 "Multipart: Boundary not found"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.1

### Plugin version

5.2.0

### Node.js version

16.5.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

When the file limit size is set, then headers are

[2021-12-08 11:39] kibertoad commented on #304
@Uzlopak

[2021-12-08 11:52] climba03003 commented on #304
The main problem is the user *must* not pass the `headers` to option.
https://github.com/fastify/fastify-multipart/blob/0e449a7346a52ad5c8a59166a52b34bfcbcd9f10/index.js#L321

The headers should be passed using `request.headers`.

My command here is correct, it is a breaking change if you force the user to pass the `headers`.
https://github.com/fastify/fastify-multipart/pull/300#discussion_r762502

[2021-12-08 13:01] #304 closed

[2021-12-08 13:04] kibertoad commented on #292
@cyantree Can you check with 5.2.1? I think I added missing type in the right place :)

[2021-12-08 13:04] kibertoad commented on #304
@tc-root-user Can you please check with 5.2.1?

[2021-12-08 14:23] tc-root-user commented on #304
Working as expected!

[2021-12-08 20:28] cyantree commented on #292
Thanks @kibertoad . It works for me. :)

[2021-12-08 20:28] #292 closed

[2021-12-14 07:56] Eomm commented on #298
Could you add a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)?

Without it, we are unable to help you.

[2021-12-21 14:46] meotimdihia opened #313 "Typescript: there is no way to make req.saveRequestFiles() works when we want to validate schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I have multi problems with the plugin:
1. I am getting the error: typescript error: `Type 'never' must have a '[Symbol.iterator]()' method that returns an iterator. for this`
2. await req.saveRequestFiles() doesn't work unless I remove

[2022-01-03 17:41] mccare opened #315 "Canceled uploads are not propagated to the part.file FileReadStream"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.3

### Plugin version

5.2.1

### Node.js version

16.13.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.1

### Description

When a user cancels the upload request, the cancel/destr

[2022-01-03 18:38] climba03003 commented on #315
@Uzlopak do you have time to look at this issue? I think it is something related to both `busboy` and how request is ended.

[2022-01-03 20:58] Uzlopak commented on #315
Hi, i arrived just few hours ago in Germany, where my Laptop is. I will have a look at it.

My assessment is close to yours. I think BusBoy-Stream has to listen to the close event and pass it down to each open partsStram.

[2022-01-05 12:56] Uzlopak commented on #315
@climba03003 @mccare
I checked it out. request.raw is calling unpipe on busboy
https://github.com/fastify/fastify-multipart/blob/635a523bdf1ae42bf8aa2191d6f10f11665e5930/index.js#L472

So it should make the trick to modify the code about here https://github.com/fastify/busboy/blob/6d8f8741cd5a9787fe7c4d1f1fb57bd165ad6c66/lib/types/multipart.js#L174 by adding in line 175
[code]
Maybe also adding th

[2022-01-05 13:02] Uzlopak commented on #315
Created corresponding PR
https://github.com/fastify/busboy/pull/81

[2022-01-06 11:36] mccare commented on #315
I would expect the pipelining to throw an error since the readable was prematurely closed. So yes, something along these lines. If this is the correct/expected behaviour in regard to the type of exception, don't know.

What about using `pipeline` instead of `pipe`, so `pipeline(request, busboy)` instead of `request.pipe(busboy)`. That should at least do some error propapgation, but don't know if t

[2022-01-08 09:32] Eomm commented on #313
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

cc @fastify/typescript

[2022-01-08 09:34] meotimdihia commented on #313
@Eomm I am not really too good about Typescript.
I don't understand what is this error. 😀

[2022-01-14 00:05] vader-sama opened #316 "Logger should be optional"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Hi!
`fastify-multipart` logs unnecessary stuff, which I don't need!
I think there should be an option for the logger, something like a turn off switch.

### Motivation

_No response_

### Example

[code]

[2022-01-14 00:37] jsumners commented on #316
I am closing this issue because:

1. The language and tone is disrespectful
2. It is demanding of other's time
3. It does not include any information about which logs are not desired

Review the documentation on route logging -- https://www.fastify.io/docs/latest/Reference/Routes/#custom-log-level

If there is still a problem, open another issue that is more acceptable.

[2022-01-14 00:37] #316 closed

[2022-01-15 17:27] meotimdihia commented on #278
@ShogunPanda I get this error when using it with typescript:
[code]
![Code_2022-01-16_00-25-56](https://user-images.githubusercontent.com/300961/149631498-0c19923b-5e02-4fd8-b9b8-6fc3a0369e8e.png)

[2022-01-15 17:30] ShogunPanda commented on #278
It seems to come from form-data and not from our package.

I'm not at PC at the moment, but out of my mind I would try with `content-type`. Otherwise double check `form-data`'s types.

Let me know if it solves, otherwise on Mon I'll take a second look.

[2022-01-16 08:23] meotimdihia commented on #278
@ShogunPanda https://developer.mozilla.org/en-US/docs/Web/API/FormData/append
FormData doesn't have the format like your example.

[2022-01-17 09:57] ShogunPanda commented on #278
@meotimdihia Node does not ship `FormData`, and I think in you case it comes from `https://www.npmjs.com/package/form-data`.
This package might have a different API and types and you should double check there.

[2022-01-17 16:39] meotimdihia opened #318 "The coerceTypes: 'array' doesn't coerce one parameter to a single element in array"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.x.x

### Plugin version

5.x.x

### Node.js version

14.x

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

I have got this error when send a POST request.
[code]

My s

[2022-01-17 20:04] mcollina commented on #318
Can you please include a reproducible example? It might be straightforward but it will greatly simplify fixing it. You could also send a PR, it would be highly welcomed.

[2022-01-18 04:24] meotimdihia commented on #318
@mcollina I don't really understand the plugin to fix the problem.
But I wrote a test for this case:

[code]

The test will be a failure. But if you uncomment the line:
` // form.append("upload", fs.createReadStream(filePath));`
Then it is ok cause formData posts an array of files.

[2022-01-18 07:56] meotimdihia commented on #318
Hi, I wrote a test, could you copy it to the test directory of `fastify-multipart`.
https://gist.github.com/meotimdihia/53299a9501843987907a369f445898ac

If I uncomment line 79 then the test will be passed.

[2022-01-19 11:38] frapan commented on #252
I came into the same problem and I would like to provide a PR with a little change to the doc.

The current README reads:

[code]

and so lets you think that you can read `data.fields` immediately after `await req.file()`.

I would simply move that line after `await pump`, like this:

[code]

[2022-01-19 11:43] darkgl0w commented on #252
Go for it :+1:  :rocket:

[2022-01-19 11:45] climba03003 commented on #252
It is not correct from your sentence, stream is not necessary to be parsed before any field go into `req.fields`.

It is the order of `multipart` affecting the result. If the client need the fields to come up first, please reorder your form, so the file go last.

[2022-01-19 11:47] frapan commented on #252
Here it is: #320

[2022-01-20 10:06] climba03003 commented on #278
I would recommend you open an issue on `form-data` (if you are using the npmjs one) instead of asking in a closed issue.
It is totally unrelated to `fastify-multipart`.

[2022-01-22 23:13] RafaelGSS commented on #313
@meotimdihia Could you provide a minimal reproducible code? Further information, see: https://stackoverflow.com/help/minimal-reproducible-example

[2022-01-24 22:27] cgonzalezb94 opened #322 "multipart/form-data; boundary=--------------------------770050338242247130429317"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.1

### Plugin version

5.3.0

### Node.js version

14.17.6

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

The error Unsupported Media Type: multipart/form-data; b

[2022-02-01 05:15] TriStarGod commented on #315
Hi @mccare , I also wanted to handle partial uploads.
I tried your `request.raw.on("close", ...` as outlined in your [sample](https://github.com/mccare/multipart-upload-error-handling/blob/master/routes/upload.post.js) but it would freeze and my call would be stuck on `Pending`. Without it, my post functions normally. Did this occur to you as well?

[2022-02-01 08:58] mccare commented on #315
In the end, I had a handler `on('error'...)` and `on('close'...)` and the handler would check if there was an error parameter or the request was aborted. You can see the solution [here](https://github.com/fastify/fastify-multipart/pull/319/commits/0be4c4c604c8f9546704c452b06b657d51df2db7#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba266154583a746bba0f346R476)

[2022-02-10 01:44] realfresh commented on #251
For anyone wondering what to do in the case of a single file upload with extra fields

[code]

[2022-02-11 17:22] gabrielrufino commented on #251
Any updates?

[2022-02-11 19:00] mcollina commented on #251
@gabrielrufino I haven't seen a PR from you yet.

[2022-02-17 19:49] joshdales commented on #322
I think that you are missing a `ContentTypeParser` for `'multipart/form-data'`

[code]

[2022-02-21 20:35] Solant commented on #322
I had the same issue using `fastify-multipart` with `fastify-autoload`, when I tried to register `fastify-multipart` for specific folder aka plugin

To make it work, make sure to register `fastify-multipart` **before** any route plugins.

You can also check if multipart is working fine by checking `fastify.hasContentTypeParser('multipart')` for your route plugin instance

[2022-03-16 13:22] SudoDios commented on #230
please write a sample of this

[2022-03-21 16:55] andrewwood2 commented on #318
I've taken a look at this and I think without a reproducible example it's not going to be possible to definitely conclude on this issue. To me it looks as though it could be to do with the way you are registering routes and the validation on your fastify server, as in the below example where username gets coerced into an array.

[code]

If this is the cause of the confusion (and I agree it is not

[2022-03-21 18:12] chenbimo commented on #322
Yes,you are right.very thanks for you.

[2022-03-21 21:12] #322 closed

[2022-03-22 09:22] mcollina commented on #318
@andrewwood2 could you send a PR to update the docs?

[2022-03-26 10:46] bright-coder opened #332 "415 Unsupported Media Type (POSTMAN)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

-

### Stopped working in version

-

### Node.js version

16.14.2

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### 💥 Regression Report

i already add fastify-multipart p

[2022-03-28 06:11] Eomm commented on #332
Could you add the `plugins/multipart.js` file and your `curl` request exported by postman?

[2022-03-28 22:54] #225 closed

[2022-03-31 01:50] alfianlensun commented on #332
i got the same problem

[2022-03-31 10:17] mcollina commented on #332
Could you upload a full project to reproduce this issue?

[2022-04-02 05:44] bright-coder commented on #332
plugins/multipart.js
[code]

[2022-04-02 05:45] bright-coder commented on #332
i will upload full project. @mcollina

[2022-04-07 09:46] rubenferreira97 commented on #318
I am having a similar (or same problem), where I define a property of my schema as a `{ type: 'array', items: fastify.getSchema('mySharedSchema')}'`. When I send only one file, it says that field expect an array. I am using `"coerceTypes": Array`, so I expected that it would work without any workaround.
As a temporary fix I am doing a `anyOf` schema with a single `File` and a array `FileArray`.

[2022-04-19 06:53] sanzhardanybayev opened #337 "Performance comparison: Fastify vs express"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi everyone!

Recently I had a hard choice picking up the Node.JS framework for a small backend app that issues JWT tokens and sends fetch requests to Google Cloud Platform.

Initially I chose express.js. But later on I decided to refac

[2022-04-19 06:55] #337 closed

[2022-04-19 06:56] sanzhardanybayev commented on #337
Sorry, posted that in the wrong repo.  Moved it to https://github.com/fastify/fastify/issues/3841

[2022-04-27 15:20] chainalert-bot opened #341 "ChainAlert: npm package release (5.4.0) has no matching tag in this repo"
Dear [fastify-multipart](https://npmjs.com/package/fastify-multipart) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (5.4.0) of [fastify-multipart](https://npmjs.com/package/fastify-multipart) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain att

[2022-04-27 18:02] #341 closed

[2022-04-28 03:04] #195 closed

[2022-04-28 03:04] #244 closed

[2022-04-28 03:04] #298 closed

[2022-04-28 03:04] #315 closed

[2022-04-28 03:04] #332 closed

[2022-06-08 03:23] SKrind0 opened #351 "Content type parser 'multipart' already present"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

6.0.0

### Node.js version

17.8.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

21H2

### Description

I'm trying to use multipart to check a schema but when

[2022-06-08 05:17] climba03003 commented on #351
You are using both `fastify-multer` and `@fastify/multipart` together.
They will conflict each another. Please use only one of them.

[2022-06-08 05:17] #351 closed

[2022-06-08 11:37] SKrind0 commented on #351
yes, but if I use multer when I want to put the file type in the schema, it gives me an error

![image](https://user-images.githubusercontent.com/68449193/172606993-6fc6a4d9-0e27-48d5-8d57-ef2b082f0804.png)

[2022-06-08 11:49] climba03003 commented on #351
There is no `type` of `file` in `JSON Schema`.

[2022-06-08 11:57] SKrind0 commented on #351
according to swagger it is like that, so how could I do it?

according to swagger it is like this:
![image](https://user-images.githubusercontent.com/68449193/172610467-e9ff77ae-dfe9-47ab-b2ae-21adb9679477.png)

[2022-06-08 12:02] climba03003 commented on #351
No direct answer.
If you are using `@fastify/swagger` please create a custom property with `transform`. Then, change it back to the proper type you need.
Or use `OpenAPI 3.0` which is `{ type: "string", format: "binary" }`

[2022-06-09 12:58] zone117x opened #354 "Publish new package version"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Could an updated version of this lib be published to npm? Apologies if there's already a release schedule / plan.

Thank you!

[2022-06-10 16:28] mcollina commented on #354
Done

[2022-06-10 16:28] #354 closed

[2022-07-04 22:04] SaundersB opened #366 "hexoid is not a function error upon plugin registration on server start"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

7.1.0

### Node.js version

16.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

I'm seeing an error with the hexoid library when I regist

[2022-07-05 07:24] mcollina commented on #366
I have non idea. My hunch would be to look into the webpack config or stop using webpack altogether.

[2022-07-05 07:25] mcollina commented on #366
This is 100% not a problem of this module.

[2022-07-06 18:49] iketiunn opened #367 "When apply { attachFieldsToBody: 'keyValues' }, stringified buffer may not a valid file"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.0

### Plugin version

7.1.0

### Node.js version

v16.14.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3

### Description

In my case, when I apply `{ attachFieldsToBody: 'keyValu

[2022-07-07 02:51] climba03003 commented on #367
You can check the discussion in https://github.com/fastify/fastify-multipart/pull/348#discussion_r891430786

[2022-07-07 04:09] iketiunn commented on #367
Okay, seems like onFile handler could do the trick. Thanks for point it out!

[2022-07-07 04:09] #367 closed

[2022-07-16 22:38] timfrans opened #369 "setting onFile callback makes field._buf === null"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.1

### Plugin version

7.1.0

### Node.js version

16.14.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.2

### Description

I defined fastify-multipart on a route this way:
[code]

[2022-07-17 17:11] mdalaminbey opened #370 "multipart not working in nestjs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

[code]

[2022-07-17 17:19] zekth commented on #370
This is a nest js issue not a fastify one.

[2022-07-17 17:19] #370 closed

[2022-07-17 17:42] kibertoad commented on #370
@mdalaminbey So what exactly is not working?

[2022-07-18 11:09] timfrans commented on #369
I can create a reproducible example in a few hours.

[2022-07-18 17:33] timfrans commented on #369
Here is reproducible example:

[code]

[code]

And these are my dependencies:
[code]

[2022-07-22 10:57] mcollina commented on #369
I've tried running your code with

 `curl -v -F key1=value1 -F upload=README.md http://localhost:3000`

and I don't get any errors.

[2022-08-05 11:07] Uzlopak opened #378 "flaky unit tests"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

x

### Plugin version

x

### Node.js version

any

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

22.04

### Description

The unit tests are flaky and need some attention.

### Steps to Repr

[2022-08-08 17:28] mage1k99 opened #379 "Unable to register plugin"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.4.0

### Plugin version

4.1.0

### Node.js version

v16.16.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.5 (21G72) on M1

### Description

I have created project using fastify-cli.

[2022-08-09 06:40] mcollina commented on #379
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-08-09 15:32] mage1k99 commented on #379
Sorry for delay, I was reproducing the error and the it was working fine. I don't know what caused it or anything. I re-initialized the whole project and its working good.

[2022-08-09 15:32] #379 closed

[2022-08-10 19:45] mage1k99 opened #380 "Attaching files to body"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I wanted to get the fields from the body which is done by setting `attachFieldsToBody` to `keyValues`. this also converts the files into buffer string.

so I need to save this file. It would be better if you gave some idea in documentat

[2022-08-11 06:07] Eomm commented on #380
`npm i file-type@16`, it is user x10 times more than the ESM version

Add some code or I will not be able to help

[2022-08-11 10:35] mage1k99 commented on #380
Sure.

### Registering the plugin
[code]

### A demo route

[code]

### What happened ?
I can save the file but the checksums differ. so what I am doing wrong here ?

![image](https://user-images.githubusercontent.com/46259860/184115319-492e08af-a191-4b75-8b51-f99399e2e99f.png)

Do you mean uses ?

[2022-08-11 11:15] mage1k99 commented on #379
Found another reason for 415

- If you send a form-data request with a route that is not present/ registered, then instead of showing 404 it shows 415

[code]

[2022-08-11 12:10] mage1k99 commented on #380
I figured out a way, converting Buffer string is not helping, so I directly assign buffer as value of the part, which i can access from request body. so I can do things much easier now

[code]

---

I can't set the type for `part` as `MultipartFile` argument because, the type argument defined in types does not have `value` as property.

![The type defined for `FastifyMultipartAttactFieldsToBodyOpt

[2022-08-12 10:10] #380 closed

[2022-08-12 13:30] Eomm commented on #380
This could be helpful as well
https://backend.cafe/fastify-multipart-upload

[2022-08-12 18:43] mage1k99 commented on #380
Yeah that was useful, thanks @Eomm

[2022-08-16 21:27] Eomm commented on #379
Please open a new detailed issue adding a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example).

[2022-08-17 06:46] mage1k99 commented on #379
Shall I create another issue to report this ? or continue in this thread itself ?

[2022-08-17 08:52] mage1k99 opened #381 "415 error on routes that does not exist with body multipart/form-data"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

7.1.0

### Node.js version

v16.16.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.5 (21G72)

### Description

Fastify handles 404 for us, but when used with f

[2022-08-17 11:03] mcollina commented on #381
Good spot! We should basically skip all the incoming body if it's a 404 request. This can be done by adding a few if checks in fastify-multipart using the `req.is404` property (https://www.fastify.io/docs/latest/Reference/Request/).

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-20 18:53] init-database opened #382 "Why dont you give us request object to onFile() callback?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

currently you are giving us `part` of `req.parts`

[code]

why don't you pass the request object instead? so that we can perform request.saveRequestFiles()

### Motivation

so that we can perform request.saveRequestFil

[2022-08-20 20:28] Uzlopak commented on #382
It doesnt make sense to me to call saveRequestFiles in the onFile.handler.

[2022-08-21 07:56] init-database commented on #382
it does to me,

The current possible option are first: to buffer in memory which the docs it self is always warn us about it and the second option is to save the file to disk using pump() while the others text fields haven't run through schema validation yet, what if some fields got validation error? you have to remove the file that you have saved before manually. and what if the file you have sav

[2022-08-26 07:15] svsool opened #383 "`RequestFileTooLargeError` is not raised with streams even though `fileSize` limit is set"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.4.0

### Plugin version

7.1.0

### Node.js version

18.0.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3

### Description

Thanks for this plugin.

I use `@fastify/multipart` for im

[2022-08-26 09:29] mcollina commented on #383
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-30 16:57] MolotovCherry opened #385 "Disable accumulating files in memory while using attachFieldsToBody"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Allow a flag in options to disable accumulation of files in memory, and let the caller handle the files themselves

Currently, if you want to use attachFieldsToBody, you're forced to either allow the library to accumul

[2022-08-30 17:06] MolotovCherry commented on #385
I think something like this is simple enough.
`fastify.register(require('@fastify/multipart'), { attachFieldsToBody: 'keyValues', disableAccumulation: true  })`

[2022-08-30 17:06] mcollina commented on #385
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-31 12:10] #382 closed

[2022-09-02 14:12] mage1k99 commented on #381
Sorry about the delay, the email notification did not work. will look at it as soon as possible

[2022-09-04 07:09] Eomm commented on #385
Since this usage does not accumulate:

[code]

I would support this new usage instead of adding a new option:

[code]

[2022-09-04 08:13] MolotovCherry commented on #385
We have a need to decide on how to process files by stream inside the API method itself. From what I understand, this usage requires the files be processed before it even reaches the API method.

Isn't this the case?

[2022-09-04 09:01] #383 closed

[2022-09-04 09:41] Uzlopak commented on #385
Well you have somewhere to store the data. There is no rewind for these fileStreams. So you have to store them somewere if you want to still be able to process them.

[2022-09-04 12:54] MolotovCherry commented on #385
This was my motivation for creating the issue. The case where you can't use both use attachToBody and use streams in the API method at the same time

[2022-09-04 13:01] Uzlopak commented on #385
I am really confused. What is what you want to achieve? You want to attach the fields to the body but on the other hand you want to stream the file content. Ok. So maybe you dont wantthat the files get attached to the body as strings? Is that what you want?

[2022-09-04 13:05] MolotovCherry commented on #385
Yeah, that's right. I'd like to have the fields attached to body, but don't want files handled at all. I want to consume the files myself in the API method.

[2022-09-04 13:20] Uzlopak commented on #385
Well imho there is way to do tihs. You can not "stop" the stream. You have to store it somewhere.
Imagine you have a form with three fields, one of them is the file. Now you upload it, and first you get the file, and after it you get the field. As long as you not handle the file stream you will not get the field. So you have to process the file stream.

The only solution I know is to store the fil

[2022-09-04 13:23] MolotovCherry commented on #385
Yes, in that case you would have to handle the file first, but as long as you order the fields first and have the file field be the very last one, this should be fine

[2022-09-04 13:53] Uzlopak commented on #385
Well I think it will not be possible to implement it.

[2022-09-06 22:08] v4dkou commented on #385
For the time being I disabled attachFieldsToBody and attach fields in a loop like this:
[code]

What might go wrong if the async generator function `.parts` would assign fields like this internally?

Of course, `request.body` would only be properly available after request.parts() is iterated over, but:
a) that seems intuitive to me
b) that could be mentioned in the docs along the other quirks like

[2022-09-07 18:51] imjuni commented on #173
I have a same issue.

## Evnironment
- fastify 4.5.3
- @fastify/multipart 7.1.2
- @fastify/swagger 7.5.1

## Problem
fastify/multipart cannot create fileupload widget on swagger.io document

## Reproducable Repo
- https://github.com/imjuni/maeum/blob/e8e94a8f6d80181281a863abd38a3a5ac7916c25/src/server/server.ts#L43
execute npm scripts `npm run dev` and open url `http://localhost:7878/swagger.io` i

[2022-09-11 10:27] meotimdihia commented on #313
@RafaelGSS @Eomm Please re-open this issue.

This is the minimal reproducible code
https://github.com/meotimdihia/fastify-multipart-bug-report

### STEP 1 FAILED

When you upload files you will get this response `[]`

### STEP 2 OK

If you remove `attachFieldsToBody` in `app.ts` and remove `schema: { body: body}` in `root.ts`. When you upload files , you will get this response.

<img width="781" a

[2022-09-11 10:49] meotimdihia commented on #318
Hi, I added the example:
https://github.com/meotimdihia/fastify-multipart-bug-report-2

you'll get this error:

<img width="482" alt="Untitled 20" src="https://user-images.githubusercontent.com/300961/189523472-6bbaadcc-2e5a-48d0-be8c-3110b9486c78.png">

[2022-09-14 21:19] #251 closed

[2022-09-17 10:33] mage1k99 commented on #381
Hey @mcollina I don't think that this is the issue with fastify-multipart, this is issue with  Should this be done in fastify itself ? This is because unregistered content type can cause 415 so checking if the route exist before checking the content type is registered is a good idea

![image](https://user-images.githubusercontent.com/46259860/190850527-85035a6b-ce3c-4c3a-af77-dfeadf9f21bb.png)

As

[2022-09-17 10:38] mage1k99 commented on #381
I have made a pull request, https://github.com/fastify/fastify/pull/4286

[2022-09-17 11:38] mcollina commented on #381
Good spot, thanks!

[2022-09-19 01:30] #381 closed

[2022-09-30 21:34] mage1k99 commented on #162
Still there is no section for typescript usage 🤔

[2022-10-16 13:36] Ningaro commented on #173
Yes, this is exactly what I need! 🥹

[2022-10-22 14:48] aymensbh opened #395 "Unsupported Media Type: multipart/form-data; boundary=--------------------------081092531767619493751707"
import multipart from "@fastify/multipart";
server.register(multipart, {
  limits: {
    fieldNameSize: 100, // Max field name size in bytes
    fieldSize: 100, // Max field value size in bytes
    fields: 10, // Max number of non-file fields
    fileSize: 1000000, // For multipart forms, the max file size in bytes
    files: 1, // Max number of file fields
    headerPairs: 2000, // Max number of

[2022-10-22 17:58] mcollina commented on #395
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-10-23 10:51] aymensbh commented on #395
[code]

[2022-10-23 10:52] aymensbh commented on #395
[code]

[2022-10-23 11:00] aymensbh commented on #395
![Screen Shot 2022-10-23 at 12 00 05 PM](https://user-images.githubusercontent.com/49540075/197388365-e36244f5-2447-4096-b945-5d21a17fa649.png)

[2022-10-23 15:25] aymensbh commented on #395
Never mind, I just needed to register the multipart plugin in the right order, now it works.

[2022-10-23 15:25] #395 closed

[2022-10-24 17:20] cesarvspr commented on #378
@Uzlopak do you know if someone is working on this?

[2022-10-30 22:05] smamun19 commented on #173
I'm facing this exact issue. Is there any solution yet?